[2017-03-01 22:42] pbrisbin opened #2 "Decide if we're porting custom CA and gzip features"
Feature parity with other reporters would mean:

- [ ] Ruby - Custom SSL CA [ref](https://github.com/codeclimate/ruby-test-reporter/blob/master/lib/code_climate/test_reporter/client.rb#L97)
- [ ] Ruby - gzip post bodies [ref](https://github.com/codeclimate/ruby-test-reporter/blob/master/lib/code_climate/test_reporter/client.rb#L58)
- [ ] JavaScript - skip-cert flag [ref](https://github.com/codecli

[2017-03-01 23:29] pbrisbin opened #3 "Document API_HOST variable (or equivalent)"
I think we should continue to support this. Could be `CC_TEST_REPORTER_HOST` or an option to `upload-coverage` and/or `coverage` sub-commands.

[2017-03-01 23:29] pbrisbin opened #4 "Document User Agent the reporter should send"
Probably in DEVELOPERS.md

[2017-03-02 17:59] pbrisbin opened #5 "Add sample files for supported sources"

[2017-03-02 18:00] pbrisbin opened #6 "Fix format-coverage docs for lcov/gcov"
I thought these were the same, but it looks like the current javascript-reporter parses differently by magic content. [ref](https://github.com/codeclimate/javascript-test-reporter/blob/master/formatter.js#L18)

[2017-03-02 18:02] pbrisbin opened #7 "Link to existing reporters for reference"

[2017-03-02 18:03] pbrisbin opened #8 "Order "generic" ENV vars first when inferring"
For example, when determining `GIT_BRANCH` the current ordered list of other `ENV` vars to check is just alphabetized. It's arguable that "generic" variables (e.g. `BRANCH`, `CI_BRANCH`, `BRANCH_NAME`) should appear before CI-specific ones.

[2017-03-02 18:59] markbates opened #9 "Description for the `root` command"
https://github.com/codeclimate/test-reporter/blob/master/cmd%2Froot.go#L13

[2017-03-03 15:46] #8 closed, assigned to markbates

[2017-03-03 15:48] markbates opened #10 "ENV Validations"
Which ENV variables are required? I can't seem to find that in the documentation.

Also, which commands should error if there are missing ENV variables?

[2017-03-03 15:48] #10 closed, assigned to pbrisbin

[2017-03-03 16:05] pbrisbin opened #11 "Consider aggregate-coverage as distinct sub-command"
The operation of taking multiple, formatted payloads and "aggregating" them into one is non-trival. So far, I was thinking `upload-coverage` would just do if it found a directory of files as input, but separating it might simplify things overall:

- `format-coverage` would only support a path (not directory) as `--output`
- `upload-coverage` would only support a path (not directory) as `--input`
-

[2017-03-06 16:24] #5 closed, assigned to gdiggs

[2017-03-07 21:39] markbates opened #12 "A "real" example of codeclimate.json"
Can I get a real example of this file? The one in
https://github.com/codeclimate/test-reporter/blob/master/DEVELOPERS.md is clearly a dummy one. I need to be able to figure out how some of the information is calculated and what it should be.

For example:

`"covered_strength": 1,` is that a `0-1` scale? How is that calculated?.

You get the idea.

[2017-03-07 22:51] markbates opened #13 "First pass at a Ruby formatter"
Based on
https://github.com/codeclimate/test-reporter/blob/master/formatters%2Fruby%2Fruby-example.json

I'm generating the following `codeclimate.json` file. Can someone review, and potentially try it against a server somewhere and see how it fairs? Thanks.

[code]

[2017-03-08 12:21] #7 closed, assigned to pbrisbin

[2017-03-08 23:22] pbrisbin opened #14 "Test projects for acceptance of stories"
For each of the 4 languages, we need an example project that's added on Code Climate and works with an existing reporter. I will use this project to run the binaries @markbates is building and test the payloads against the production server for compatibility.

- [ ] Ruby
- [ ] JavaScript
- [ ] PHP
- [ ] Python

[2017-03-09 19:56] #13 closed, assigned to pbrisbin, gdiggs

[2017-03-09 19:58] #9 closed, assigned to markbates

[2017-03-10 00:07] pbrisbin opened #16 "Token shouldn't be called token"
We want to make it clear to users that this is not sensitive. So we should used a work like "ID" or "Key" or, like Stripe does, include "publishable" in the name.

[2017-03-10 18:12] #14 closed, assigned to pbrisbin

[2017-03-10 18:21] #4 closed, assigned to pbrisbin

[2017-03-10 18:21] #16 closed, assigned to pbrisbin

[2017-03-10 18:26] pbrisbin opened #18 "Detailed Help"
Running

[code]

should be equivalent to `man cc-test-reporter`.

Similarly,

[code]

should be equivalent to `man cc-test-reporter-CMD`.

This mirrors how `awscli` does it.

[2017-03-10 18:28] #11 closed, assigned to pbrisbin

[2017-03-10 18:28] #3 closed, assigned to pbrisbin

[2017-03-10 19:19] #6 closed, assigned to pbrisbin

[2017-03-14 13:41] pbrisbin opened #21 "test-ruby build error"
[code]

[code]

[2017-03-14 13:52] pbrisbin opened #22 "Build error"
I tried it with and without setting (what I think is) the right `GOPATH`:

[code]

(Note: I locally changed the target from "build" to the name of what it produces.)

I installed `go` but didn't configure my go environment any further. My hope is that if a `go` binary is on `$PATH` one could build this project (i.e. the Makefile will itself set up whatever env vars are needed, if not already prese

[2017-03-14 14:10] pbrisbin commented on #12
@markbates I believe this issue, as it is currently described, can be closed. I think you have a "real" example, and the payloads you're producing look accurate. Please create a new issue if there's still work to be done on this track.

I think it would be better if I can take on testing the uploads myself, but I need your help me with #21 and/or #22 to do that.

[2017-03-14 14:10] #12 closed

[2017-03-14 14:10] pbrisbin commented on #18
Going to just close this. The time for enhancements is not yet ;)

[2017-03-14 14:10] #18 closed

[2017-03-14 15:07] pbrisbin opened #23 "Rename format/upload commands"
Noticed this while looking at the testing harness:

The commands are `format-coverage` and `upload-coverage`. The reporter will some day deal in more than just coverage, and there may be other things to format and certainly more things to upload, so we need to make sure our low-level names are specific enough.

[2017-03-14 19:16] markbates commented on #22
This should be fixed now. The `.gitignore` file was ignore folders with the name `pkg` which is part of one of the deps `github.com/pkg/errors` so it never got committed to the vendor directory.

[2017-03-14 19:18] markbates commented on #21
This is related to #22 and should be fixed now.

[2017-03-14 19:18] #21 closed

[2017-03-14 19:21] markbates commented on #23
We can put them under a `coverage` sub command if you'd prefer that:

[code]

It's up to you.

[2017-03-14 19:30] #23 closed

[2017-03-14 19:39] pbrisbin commented on #22
Sorry, still broken for me:

[code]

[2017-03-14 19:45] jmgarnier opened #24 "Beta testers"
Hi,

I heard about this project when I asked on twitter if there will be a feature in Code Climate to merge coverage reports when using parallel jobs in Travis.

Would you mind updating this issue when this project is ready for beta testing?

I was watching on gh but it seems that you are still busy 😉

Cheers,

Jean-Michel

[2017-03-14 19:56] pbrisbin commented on #22
Figured out that this was because my project isn't at the proper PATH. Need to clone the repo exactly at `/home/patrick/go/src/github.com/codeclimate/test-reporter` for it to build successfully.

[2017-03-14 19:56] #22 closed

[2017-03-14 19:58] GordonDiggs commented on #24
@jmgarnier Yep we will be sure to reach out when we have something ready! Out of curiosity - which language(s) are you interested in using for the reporter?

[2017-03-14 20:48] jmgarnier commented on #24
@GordonDiggs Thanks for the quick reply. I am interested in Ruby. We have a (private) Rails 4.2 app and our tests spawn in 5 different jobs on Travis CI.

[2017-03-14 20:49] GordonDiggs commented on #24
@jmgarnier Thanks! We are prioritizing end-to-end Ruby support as an alpha so I will definitely let you know when that is available

[2017-03-14 22:29] pbrisbin commented on #2
Going to close this. We should pro-actively add these features, if they come up we'll consider them at that point.

[2017-03-14 22:29] #2 closed

[2017-03-15 18:01] pbrisbin opened #27 "Autorelease"
## Description

When a test-reporter developer pushes to master, binaries should be built and made available on S3, so that those interested in testing "edge" can access them.

## Acceptance criteria

Self-explanatory?

## Design / UI / UX considerations

The auto-released binaries should not overwrite any `-$(VERSION)` or `-latest` binaries. Those will be handled manually through a formal release

[2017-03-15 18:06] pbrisbin commented on #27
Note: #26 is required but not sufficient.

[2017-03-15 22:29] pbrisbin commented on #27
This is done as of #28

[2017-03-15 22:29] #27 closed

[2017-03-17 15:42] pbrisbin opened #29 "Ruby format-coverage"
As a Ruby developer, I can convert SimpleCov results to the defined Code Climate format, so that I can sum and/or upload it later.

## Acceptance Criteria

- [x] I get something reasonable from `cc-test-reporter format-coverage --help` (or `help`, `-h`, whatever)
- [x] After running the test suite ruby project which generates SimpleCov coverage, I can run `cc-test-reporter format-coverage` and it

[2017-03-17 15:46] pbrisbin opened #30 "upload-coverage"
As a user who's produced a formatted coverage payload, I can upload that payload to Code Climate, so its results will be present with all my other analysis results.

## Acceptance Criteria

- [x] I get something reasonable from `cc-test-reporter upload-coverage --help`
- [x] Given `coverage/codeclimate.json` exists, I can run `cc-test-reporter upload-coverage`, and see an accepted `TestReport` in

[2017-03-17 15:51] pbrisbin opened #31 "sum-coverage"
When I've generated multiple payloads from multiple (partial) test-suite runs, I want to combine (sum) them into a single payload, so I can upload it to Code Climate.

## Acceptance Criteria

We've used this in our parallel test builds for codeclimate/app and the summed coverage is reported and accurate.

[2017-03-17 18:36] markbates opened #34 "Description for `env` command"
[code]

[2017-03-17 18:38] markbates opened #35 "Description needed for `format-coverage` command"

[2017-03-17 18:38] markbates opened #36 "Description needed for `upload-coverage` command"

[2017-03-17 18:38] markbates opened #37 "Description needed for `sum-coverage` command"

[2017-03-17 18:42] #34 closed

[2017-03-17 18:42] #35 closed

[2017-03-17 18:42] #36 closed

[2017-03-17 18:42] #37 closed

[2017-03-17 18:47] pbrisbin commented on #29
## Good

- Payload looks generally good
- `--output PATH` worked

## Bugs

- File was created as `codeclimate.json`, not `coverage/codeclimate.json`
- `--output -` created the file `./-`, didn't go to `stdout`
- `CI_BUILD_ID=42 cc-test-reporter format-coverage` didn't include `ci_services.build_identifier: "42"`

## Untested

- Different named tests
- `--help`

[2017-03-17 18:50] pbrisbin opened #39 "format-coverage defaults"
Default `--out` should be `coverage/codeclimate.json`, not `codeclimate.json`

[2017-03-17 18:51] pbrisbin opened #40 "format-coverage stdout"
`--out -` should print to `stdout`, not create `./-`.

[2017-03-17 18:51] pbrisbin opened #42 "format-coverage reading env"
`CI_BUILD_ID=42 cc-test-reporter format-coverage` didn't include `ci_services.build_identifier: "42"`

I did not check the other `env`-output values once I saw this, so please spot check the rest.

[2017-03-17 18:52] pbrisbin commented on #29
Not accepted, created Issues for bugs found. Please let me know when this is ready again.

[2017-03-17 18:58] #39 closed

[2017-03-17 18:58] #40 closed

[2017-03-17 18:59] markbates commented on #29
Once #44 is merged this will be ready for review again.

[2017-03-17 19:06] #42 closed

[2017-03-17 19:07] markbates commented on #29
Ready for review again.

[2017-03-17 19:21] pbrisbin opened #45 "SimpleCov merged"
SimpleCov supports merging test suites, so you could run `rake test:units` with `SimpleCov.command_name "units"` hit a few files, run `rake test:integration` with `SimpleCov.command_name "integration"`, hit the rest, then find a unified coverage report in `coverage/.resultset.json`.

These unified reports have a key per command-name and they need to be merged as part of parsing. It will be hard to

[2017-03-17 19:22] pbrisbin commented on #29
I captured #45, but will Accept this anyway. We can prioritize that fix in a different milestone.

[2017-03-17 19:22] #29 closed

[2017-03-17 19:29] pbrisbin commented on #31
Shouldn't have auto-closed ;)

[2017-03-17 19:38] pbrisbin opened #46 "Change default in upload-coverage"
Needs to match `format-coverage`

[code]

[2017-03-17 20:15] pbrisbin commented on #46
Looks fixed to me.

[2017-03-17 20:15] #46 closed

[2017-03-17 20:16] pbrisbin opened #48 "--input stdin"
Same bug as `format-coverage`, it tried to read `./-` when given `--input -`, should read `stdin`.

[2017-03-17 20:23] pbrisbin opened #49 "Environment hash"
The `enviroment` hash has some legacy fields, and was intended to support all our other reporters, so I apologize that it's confusing, but it currently formats like this:

[code]

It should format like this:

[code]

[2017-03-17 20:26] pbrisbin opened #51 "Reporter ID Unused"
[code]

I tried to verify on the server logs, but ran into some trouble. Maybe you can identify the bug without me figuring out exactly what made it to the server?

My suspicion is that you're reading the reporter-id at _format_ time, but not injecting it if it's only present at _upload_ time. To clarify, these should work:

[code]

[code]

[2017-03-20 15:26] pbrisbin commented on #48
This appears fixed.

[2017-03-20 15:26] #48 closed

[2017-03-20 17:22] pbrisbin opened #53 "reporter_version includes trailing new-line"
[code]

**Ideally**, this would be:

[code]

I would also accept the following variations, ranging from _nicest to me_ to _least difficult to you_:

[code]

[2017-03-20 17:23] markbates commented on #51
Digging into this, it looks like it isn't being used anywhere in the code. I found the docs that say it's required, https://github.com/codeclimate/test-reporter/blob/master/man%2Fcc-test-reporter-upload-coverage.1.md#-r---id-id, but I haven't been able to find any docs about what to actually do with that value.

Is it a header? A query arg?

[2017-03-20 17:26] markbates commented on #53
Ok, so you don't want the SHA or the build timestamp?

[2017-03-20 17:27] pbrisbin commented on #53
Ideally no. It's a trade-off with effort, I assume, so I tried to make the requirement a little lax in case for some reason it's _wildly_ more effort to exclude that information.

[2017-03-20 17:28] markbates commented on #53
No, it's really easy to do just the `Version`, I just wanted to confirm.

[2017-03-20 18:11] pbrisbin commented on #51
Right now, without any server-side changes, it's an attribute in the Payload (`repo_token`). This isn't in the man-pages because user's don't care, but it's in the `DEVELOPERS.md` reference payload.

I realize this sucks, but to make this work without server-side changes, you'd have to do something like:

- `format-coverage` makes a payload without `repo_token`
- `upload-coverage` parses the JSON,

[2017-03-20 18:14] markbates commented on #51
Ok, I'll figure something out.

[2017-03-20 18:14] pbrisbin commented on #53
LGTM!

[2017-03-20 18:14] #53 closed

[2017-03-20 18:14] pbrisbin commented on #49
This has been fixed.

[2017-03-20 18:14] #49 closed

[2017-03-21 15:01] ale7714 opened #55 "Report formatter repo-token"
Currently `RepoToken` is being set by looking for the env var [CC_REPO_TOKEN or REPO_TOKEN](https://github.com/codeclimate/test-reporter/blob/ee3f6b29edd4864c88541093c0b954c331adf4ee/env/env.go#L49). And when uploading coverage  [CC_TEST_REPORTER_ID](https://github.com/codeclimate/test-reporter/blob/87b79108dbf28c770a56f0a0fa5f2d85ae6fba37/cmd/upload-coverage.go#L75) is required.

When CC_REPO_TOK

[2017-03-21 19:46] pbrisbin opened #57 "Segfault"
Was just checking into the upload-coverage acceptance and am now hitting this:

[code]

Yay memory unsafe languages!

[2017-03-21 19:57] pbrisbin commented on #55
I _think_ this is addressed. @markbates please assign to @ale7714 to confirm, if so.

[2017-03-21 21:25] ale7714 commented on #55
I confirmed is working as expected. Closing the issue :)

[2017-03-21 21:25] #55 closed

[2017-03-21 21:44] pbrisbin commented on #57
LGTM. Lucky, IMO, that I just happened to hit that edge case because of a bad `cd`!

[2017-03-21 21:44] #57 closed

[2017-03-21 21:50] pbrisbin commented on #30
All set!

[2017-03-21 21:50] #30 closed

[2017-03-21 21:50] pbrisbin commented on #51
LGTM.

[2017-03-21 21:50] #51 closed

[2017-03-21 21:54] markbates commented on #57
It was a good catch. We should be checking to make sure there is something to format. Good catch!

[2017-03-22 05:12] ale7714 commented on #31
I created two test reports for app repo and got some discrepancies in coverage percent. Line/file count looks correct.

`test-reporter`:
<img width="793" alt="screen shot 2017-03-21 at 10 49 39 pm" src="https://cloud.githubusercontent.com/assets/1709578/24182921/5cf4a08a-0e9b-11e7-869a-f02e9dce4180.png">

Payloads: [Archive.zip](https://github.com/codeclimate/test-reporter/files/860396/Archive.zip

[2017-03-22 11:14] pbrisbin commented on #31
Could you grab the individual resultset files from a parallel run in CI?

On Wed, Mar 22, 2017, 01:12 Ale Paredes <notifications@github.com> wrote:

[2017-03-22 13:21] pbrisbin opened #59 "before-build command"
This should be a no-op.

The reason we want it is that we plan to instruct users to modify their CI configurations to include it _now_, and reserve the ability to add logic that should occur before a build starts _later_, without them needing to again modify the CI configuration.

So, yes, literally just add a `cc-test-reporter before-build` sub-command that does nothing but `exit 0`.

[2017-03-22 13:27] pbrisbin opened #60 "after-build command"
*TODO*: man-page.

This will be equivalent to the expected use of `format-coverage`/`sum-coverage` then `upload-coverage`. It should accept options and read env vars that would or could be used by the sub-commands it represents.

Additionally it should take an `--exit-code` option, so we know if the build (tests) we're reporting after were successful or not. We need to confirm what env vars hold t

[2017-03-22 13:42] pbrisbin opened #61 "lcov support"
`format-coverage` should locate `lcov.info` and process it into `coverage/codeclimate.json` correctly.

The README.me for [instanbul](https://github.com/gotwarlost/istanbul#getting-started) states:

Because of the missing oxford, I'm not sure if this means `./lcov.info` or `./coverage/lcov.info` is produced by default.

Perhaps we should look for both? If it's easy enough, we should list out defau

[2017-03-22 14:32] ale7714 commented on #31
Here are the [individual-resultset.zip](https://github.com/codeclimate/test-reporter/files/861730/sub-resultset.zip) from the CI run

@markbates let me know if you need any more info :)

[2017-03-22 14:32] markbates commented on #31
Thanks. That's really useful. I'll be digging into this this afternoon.

[2017-03-22 18:23] ale7714 opened #63 "sum-coverage --ouput"
Currently --output default is "codeclimate.json", and the expected default is "coverage/codeclimate.json" so it matches the other commands.

[2017-03-22 18:51] markbates commented on #31
@ale7714 Can you send me a screenshot of the HTML page that gets generated? Or a CSV that has the following information for both the whole project and a couple of the individual files. I'm trying to figure why my math isn't lining up with theirs. Looking at the Simple Cov source code it should.

Total Lines, Total Lines Covered, Total Lines Missed, Covered Percent

[2017-03-22 19:04] ale7714 commented on #31
@markbates sure, will send you a zip with the html so you have all the information.

[2017-03-22 19:43] ale7714 commented on #31
@markbates hope the zip is helpful [coverage.zip](https://github.com/codeclimate/test-reporter/files/862670/coverage.zip).

[2017-03-22 19:44] markbates commented on #31
thanks!

[2017-03-22 21:56] ale7714 commented on #63
Working as expected

[2017-03-22 21:56] #63 closed

[2017-03-22 22:16] ale7714 commented on #31
After fixes covered percentage is correct.

[2017-03-22 22:16] #31 closed

[2017-03-22 22:29] pbrisbin commented on #60
On second though, this command should probably not get into `sum-coverage` territory, we should keep that use-case requiring low-level commands directly for now.

[2017-03-23 00:03] ale7714 opened #66 "File blob_id"
File blob_id is not the same as the one we get from the service that stores files. I think the discrepancy comes from the command used.

On our service we use `git ls-tree <commit_sha> -- <path>`, which returns the blob.

In the case of test-reporter, it looks like is giving the [commit hash](https://github.com/codeclimate/test-reporter/blob/master/env/git.go#L66).

[2017-03-23 21:31] ale7714 commented on #66
Working as expected after fix

[2017-03-23 21:31] #66 closed

[2017-03-27 18:40] noahd1 opened #70 "Input type flag (-t, --input-type) to format-coverage"
`format-coverage` should take an optional `-f` flag which will accept `simplecov`, and soon `lcov`.

If an unsupported format is passed, `format-coverage` should report that the format is not supported.

Each format will infer coverage file location(s). If the files aren't found in those locations, an error should be printed that notes that no coverage files could be found, and the search paths we

[2017-03-27 19:34] pbrisbin commented on #70
I'm curious what's motivating this. Maybe re-writing in our preferred Feature format would clarify?

I'm slightly uneasy about having a `--format` option to a `format-coverage` command where the "format" option isn't for indicating something about the _output_. Maybe this is my own confusion and it could be viewed either way. As alternatives, I'd suggest:

- `-t`, `--input-type`
- `-s`, `--source`

[2017-03-27 19:36] GordonDiggs commented on #70
The motivation here is projects that have, for example, both Ruby and JavaScript coverage files. Currently, only the Simplecov files would be picked up (because we use the first we find and then exit). This lets them run `format-coverage` multiple times to pick up both sets of coverage data

[2017-03-27 19:36] GordonDiggs commented on #70
I'd be ok with `-t` being the flag

[2017-03-27 19:57] pbrisbin commented on #70
Cool works for me. I'm slightly partial to `--source simplcov` because that's the language I'm using in the man-pages, but I don't feel strongly.

[2017-03-28 00:15] noahd1 commented on #70
I think source is too overloaded a term to consider in this context, but I like -t

[2017-03-28 14:53] ale7714 opened #71 "Avoid printing HTML on error"
When a request response is 404/413, HTML is printed in the console:

![screen shot 2017-03-27 at 5 34 44 pm](https://cloud.githubusercontent.com/assets/1709578/24379199/f878be84-1313-11e7-9159-2158f2912d8e.png)

Expected behavior is to only see the error message.

[2017-03-28 14:58] ale7714 opened #72 "Show usage when no sub-command"
When user runs `test-reporter` without any sub-command, it returns nothing.

Expected behavior is that returns a help message with the sub-commands

[2017-03-28 15:04] ale7714 opened #73 "Debug flag"
`test-reporter` will accept an optional flag [`-d, --debug`](https://github.com/codeclimate/test-reporter/blob/1be9d22a61d05cf3c4b6d3306bc28d271f3a430d/man/cc-test-reporter.1.md#-d---debug) that will output debug messages during the execution of a command.

[2017-03-28 15:34] ale7714 opened #74 "-p, --prefix for format-coverage"
`format-coverage` should take an optional `-p, --prefix` that represents the root directory where the coverage analysis was performed.

When `-p` flag is passed, the `test-reporter` will trim from the source file name the prefix given on the flag instead of the working directory.

When no `-p`  flag is passed, will continue to perform current behavior which is trimming from file name the working d

[2017-03-28 15:40] pbrisbin commented on #74
One question I have is if `--prefix` should affect the `environment.pwd` value sent in the payload. We don't use this server-side AFAICT, but I'm not sure what'd be Right.

If it _should_, and we _also_ eventually split the responsibilities such that `format-coverage` only adds coverage-related values and the metadata is added by `upload-coverage`, then it too will need to accept `--prefix`.

[2017-03-28 15:57] ale7714 commented on #74
@pbrisbin good point, i think it should or at least save it as one more attribute in `environment`.

[2017-03-28 18:45] noahd1 commented on #74
I can see there being an `environment.pwd` and `options.prefix` where the `options` namespace represents the set of options the user specified. But the working directory is just the working directory.

[2017-03-29 02:07] brynary opened #76 "Support for Gocov input"
Generated by https://github.com/axw/gocov

Format seems to be a bit esoteric. Maybe using the same format as the profiler? I found [this comment](https://github.com/golang/go/blob/0104a31b8fbcbe52728a08867b26415d282c35d2/src/cmd/cover/profile.go#L56) via [this Stack Overflow](http://stackoverflow.com/questions/31413281/golang-coverprofile-output-format)

[2017-03-29 02:19] brynary opened #77 "Support for coverage.py JSON input"
Per the [docs](https://coverage.readthedocs.io/en/coverage-4.3.4/howitworks.html#execution), coverage.py writes a `.coverage` file in [JSON format](https://github.com/nedbat/coveragepy/blob/master/coverage/data.py#L90-L113).

Coverage.py also has the concept of "reporters" for transforming/viewing the coverage data (e.g. on the CLI or in XML), however I think we'd prefer to use the upstream JSON f

[2017-03-29 02:31] brynary opened #78 "Support for Clover XML input"
We should support the [Clover](https://www.atlassian.com/software/clover) XML coverage format as input. This appears to be [the XSD](https://gist.github.com/aik099/8556655).

Here's an example of how PHP tooling [generates Clover-compatible XML](https://github.com/sebastianbergmann/php-code-coverage/blob/master/src/Report/Clover.php). And here's [an example](https://phpunit.de/manual/current/en/lo

[2017-03-29 02:35] brynary opened #79 "Support for JaCoCo XML input"
[JaCoCo](http://www.eclemma.org/jacoco/) ([source code](https://github.com/jacoco/jacoco)) is a free Java coverage tool.

It can output XML, which we should support. [Here's the DTD.](http://www.eclemma.org/jacoco/trunk/coverage/report.dtd) And here are [some examples](https://github.com/search?utf8=%E2%9C%93&q=filename%3Ajacoco+extension%3Axml&type=Code).

[2017-03-30 15:39] ale7714 opened #82 "gzip request body"
Ability to compress request body with gzip.

Also an optional flag `--no-compression` can be passed so compression is skipped.

HTTP headers should be set appropriately based on whether compression was used or not used.

cc @pbrisbin @noahd1

[2017-03-30 16:13] pbrisbin commented on #82
@noahd1 not sure who should do what when, but just wanted to flag: man-page update :)

[2017-03-31 16:11] pbrisbin opened #87 "Release target should git-sign"
For example:

[code]

Perhaps we can have `GIT_TAG ?= $(shell which git) tag -s` so users can run `make release GIT_TAG="git tag"` to avoid signing, if they aren't set up for that.

[2017-03-31 16:20] pbrisbin opened #88 "Publish target should be safer"
Currently, `make publish` will overwrite anything existing already in the S3 bucket. This is preferred for the floating `-head` and `-latest` binaries, but we should try to avoid accidentally overwriting any immutable `-$(VERSION)` binaries.

We haven't done this yet because:

- It would require individual `cp` operations and (we believe) duplicating the list of architectures
- `aws s3 cp` doesn't

[2017-03-31 18:04] ale7714 commented on #88
Possibly implementation to avoid overriding an existing release:

[code]

[2017-04-03 16:12] ale7714 opened #90 "sum-coverage --parts flag"
`sum-coverage` should require a `-p, --parts <total-number>`  flag where `total-number` represents the amount of partial payload this command have to sum.

When flag is passed, it counts the partial payloads and if it's less than specified, it exits with an error `Missing parts: expected total-number, found number`.

TODO: update man pages and parallel test usage

cc @pbrisbin

[2017-04-03 16:16] ale7714 commented on #71
Tried again, looks good now!

[2017-04-03 16:16] #71 closed

[2017-04-03 16:40] pbrisbin commented on #90
WDTY of the simpler `-p`, `--parts N`? I'm not sure "require" is adding any value here, you're saying how many parts you intend to sum, and it will error if a different number is actually found.

[2017-04-05 16:31] ale7714 commented on #73
@markbates i tried this flag for `format-coverage`/`sum-coverage` and it's not available yet. Assigning back to you.

[2017-04-05 17:52] ale7714 commented on #70
@markbates I just tried running `format-coverage` with the -t flag and got
[code]

If I ran format-coverage without the -t flag, it finds the `lcov` file and formats it correctly.

[2017-04-05 18:36] ale7714 commented on #61
@markbates i've been testing lcov support in one of our repos. Total coverage and line counts looks fine. But coverage for al source file is 0. I attached the lcov file and the payload
[coverage.zip](https://github.com/codeclimate/test-reporter/files/900439/coverage.zip)

[2017-04-05 20:34] markbates commented on #61
@ale7714 just pushed up a fix in #93

[2017-04-05 20:35] markbates commented on #73
@ale7714 Currently this is only implemented on the `upload-coverage` command. What would you like it to do for the other commands?

[2017-04-05 20:40] ale7714 commented on #73
@markbates i only notice this because the error i'm getting when running `cc-test-reporter format-coverage -t lcov`. I think it will be helpful to see the paths that's trying to check if we pass a debug flag.

[2017-04-06 23:43] dblandin opened #94 "Support test coverage reporting without git or a git repository present"
## Context

Among our four existing official test reporters for [ruby](https://github.com/codeclimate/ruby-test-reporter), [python](https://github.com/codeclimate/python-test-reporter), [javascript](https://github.com/codeclimate/javascript-test-reporter), and [php](https://github.com/codeclimate/php-test-reporter), there is inconsistent support for submitting test coverage reports without git and

[2017-04-07 20:26] ale7714 commented on #94
You're right, if the blob IDs don't match we don't render the coverage for a source file. Currently we don't have any metric for blob IDs mismatches.

We use git to get the blob id for constants on builder. Wouldn't this discussion require taking in consideration builder? To have consistent blob ids everywhere?

[2017-04-07 20:37] ale7714 commented on #61
Tried again and looks fine

[2017-04-07 20:37] #61 closed

[2017-04-07 20:39] #72 closed

[2017-04-10 20:42] ale7714 commented on #82
I'm closing this issue for now since it's not a priority for this milestone anymore. We can reopen it when we revisit this subject again.

[2017-04-10 20:42] #82 closed

[2017-04-10 21:30] ale7714 opened #97 "Update upload-coverage to use API endpoints"
upload-coverage command will use API endpoints to create a test reports and its associated test file reports. Following the workflow bellow:

1. Create a test report using `/test_reports` endpoint [(reference)](https://docs.codeclimate.com/v1.0/docs/api#section-post-test_reports). If successful the endpoint will return the resource with the link to create the test_file_reports:
[code]

2. Create t

[2017-04-10 21:50] ale7714 commented on #73
Closing. It's working as expected now.

[2017-04-10 21:50] #73 closed

[2017-04-10 21:52] ale7714 commented on #70
Small update running `/cc-test-reporter format-coverage -t simplecov` in our ruby repo. It does format successfully.

[2017-04-11 18:00] franklinyu opened #98 "Include executable in release"
Currently we can't just

[code]

I guess that's because

It would, however, greatly help if a binary (the `test-reporter-latest`) is uploaded by [creating a release](https://help.github.com/articles/creating-releases/). That way we can just

[code]

[2017-04-11 19:14] ale7714 opened #99 "Add fallback for file blob_id"
Add fallback mechanism to get file blod_ids for those users that don't have `.git` directory available when executing the `test_reporter`. Using a git library to generate the `blob_id`.

* Relevant link https://github.com/libgit2/git2go

@markbates we would like to know your thoughts about this.

cc @pbrisbin

Related to https://github.com/codeclimate/test-reporter/issues/94

[2017-04-11 20:06] ale7714 commented on #98
@franklinyu hi, I just updated our [README](https://github.com/codeclimate/test-reporter#installation--usage) to point to a link where you can get the latest binary for now.

[2017-04-12 02:56] franklinyu commented on #98
@ale7714 In the README the workflow is `before-build` and `after-build`, which is not (yet?) available. Is that out of date, or that's the desired but not-yet-implemented workflow? I guess they belongs to the TODO in [high-level commands](https://github.com/codeclimate/test-reporter/blob/master/man/cc-test-reporter.1.md#high-level-commands).

In addition, I tried low-level command `upload-coverage

[2017-04-12 03:03] ale7714 commented on #98
Yes, the high level commands are still under implementation. For now, you can use the low level commands:
[code]

You can pass a -d to get debug output

[2017-04-12 17:41] franklinyu commented on #98
@ale7714 passing `-d` gives me

[code]

[2017-04-13 03:04] ale7714 commented on #98
I'll take a look into this and write back when I have more info.  Thanks for trying it.

[2017-04-13 17:24] markbates commented on #70
@ale7714 @noahd1 can this be closed?

[2017-04-13 17:54] paultwo commented on #24
Hi @GordonDiggs -- commenting so I can follow this thread. We're eagerly awaiting this as well 👍

[2017-04-16 19:33] ale7714 commented on #97
@markbates from time to time i get this error from the `test-reporter`:
[code]
I've been doing load testing and that's why i noticed it.

[2017-04-17 10:31] #70 closed

[2017-04-17 18:04] markbates commented on #97
Is that host available? If it can't teach the host, that's a correct error. I haven't seen that URL before, so I assume you plugged that in. My guess is that the server you're hitting during load testing is failing under the load. Apart from showing the error, not sure what you want the tool to do.

[2017-04-17 18:07] ale7714 commented on #97
@markbates yeah i pass the endpoint with the flag. I will close this issue for now since `upload-coverage` is working as expeced.

[2017-04-17 18:07] #97 closed

[2017-04-18 16:15] ale7714 opened #103 "sum-coverage wrong counts"
We noticed some files having sudden changes on coverage. For example for file:

*app/jobs/initialize_account_seats.rb*
* On codeclimate.1.json:
[code]
* On codeclimate.2.json:
[code]

And we received:
[code]

The sum coverage array is fine, but the covered_percent and line_counts weren't updated accordingly.

I attached payloads where we have the problem:
[payloads.zip](https://github.com/codeclim

[2017-04-18 18:22] markbates commented on #103
@ale7714 when was this binary built? there was a bug a week or two that caused this problem, but it's been fixed and i can't reproduce it locally.

[code]

[2017-04-18 18:54] ale7714 commented on #103
@markbates oh i see, thanks! That explains it. We're using a binary that we built more that 2 weeks ago. I will close the issue for now.

[2017-04-18 18:54] #103 closed

[2017-04-18 20:49] #59 closed

[2017-04-19 17:33] markbates commented on #60
Where should the value of `--exit-code` be stored/sent?

[2017-04-19 17:38] markbates commented on #60
Here are the current options for the `format-coverage` and `upload-coverage` commands.

Current options for the `format-coverage` command:

[code]

Current options for the `upload-coverage` command:

[code]

Here are my proposed options for the `after-build` command.

[code]

A few of the options can be set automatically since we're running them together. For example, we can save the output of the

[2017-04-19 17:52] pbrisbin commented on #60
Those combined options (and omissions) look right to me. However, when they're flags on `after-build` they should get some additional qualification that's not needed when they're flags to a specific sub-command.

For example, since `upload-coverage` is already a *coverage-specific* sub-command, it can use an option like `--endpoint` itself, which makes sense in that context. Since `after-build` wi

[2017-04-19 17:54] markbates commented on #60
Yep! That all made sense. Thanks.

[2017-04-19 17:57] ale7714 commented on #74
Tried it locally, looks fine :)

[2017-04-19 17:57] #74 closed

[2017-04-21 20:33] markbates opened #107 "400 errors"
When posting to `https://api.codeclimate.com/v1/test_reports` I am consistently getting `400` status responses. My headers and payload appear correct.

Headers:

[code]

Payload:

[code]

[2017-04-21 20:35] ale7714 commented on #107
@markbates let me check :)

[2017-04-21 21:29] ale7714 commented on #107
@markbates i know what's happening something very small, basically "prefix" on environment hash is not whitelisted. Making a fix for it. It'll probably be deploy on monday.

[2017-04-21 21:54] markbates commented on #107
Cool. Thanks.

[2017-04-24 14:26] #107 closed

[2017-04-28 14:22] #45 closed

[2017-04-28 18:17] ale7714 commented on #60
Confirmed is working :)

[2017-04-28 18:17] #60 closed

[2017-04-28 20:53] #90 closed

[2017-04-28 20:53] ale7714 commented on #90
Working as expected :)

[2017-05-01 19:38] GordonDiggs commented on #94
Possibility here: use libgit2. @markbates talk to @pbrisbin before starting on this for better definition

[2017-05-01 19:42] pbrisbin commented on #94
It looks like work already started in https://github.com/codeclimate/test-reporter/pull/102. I think this is the right approach based on all the various caveats, so closing this probably means just getting that over the line.

[2017-05-02 03:33] ale7714 commented on #94
@markbates i updated the #102 PR to fix specs. The PR got really big because of the `dep` update I mentioned the other day. Feel free to update the PR if you need to.

This PR also addresses the fallback blob id issue https://github.com/codeclimate/test-reporter/issues/99. Gets the blob from the file content by using a function from the go git library.

cc @GordonDiggs @pbrisbin

[2017-05-02 15:24] markbates commented on #94
@ale7714 i just merged in #102 does that resolve this ticket as well?

[2017-05-02 16:12] markbates commented on #77
Looks like the `.coverage` file is just half the story. The real information is in `coverage.xml` which is generated when someone runs `coverage xml`. Coverage.py combines the information inside of `.coverage` with information in the compiled to `.pyc` files to generate `coverage.xml`, that's what we need to analyze to get the actual coverage details.

[2017-05-02 16:16] markbates commented on #77
`coverage.json` contents:
<details>
[code]
</details>

---

`coverage.xml` contents:
<details>

[code]

</details>

[2017-05-02 17:25] ale7714 commented on #94
yes! it does :)

[2017-05-02 17:25] #94 closed

[2017-05-02 17:25] #99 closed

[2017-05-03 15:39] GordonDiggs opened #116 "Add covered_strength for languages that don't provide it"
The algorithm is here: http://www.rubydoc.info/github/colszowka/simplecov/SimpleCov%2FSourceFile:covered_strength

[2017-05-05 13:15] ale7714 opened #120 "Send coverage as an array, not a string"
The payload generated by `format-coverage` has a `coverage` string that looks like `"[1, null, 0, null, 2]"`. Then on `upload-coverage` we parse that string back to array and the `coverage` being sent to the server doesn't have the `null`'s on it.

Because we already update the server side to receive an array, the payload generated by `format-coverage`/`sum-coverage` should be an Array instead of

[2017-05-05 13:25] markbates commented on #120
First, can we break this into multiple tickets? There are multiple changes requested in this ticket.

Second, in regards to the `total_with_blank_lines` change, not all of the formats offer blank, or not counted, lines information. Most, from what I've seen, only offer information on "Testable" lines. Right now all yes coverage, regardless of tool, is uniformed, this change will break that. Is tha

[2017-05-05 13:28] ale7714 commented on #120
@markbates yeah, sure it should be separated.  Moving `total_with_blank_lines` to a separate ticket.  Wasn't really aware that some tools didn't offered blank lines.

[2017-05-05 13:31] ale7714 opened #121 "Ensure all formatters insert `null` for "blank" lines"
Currently we report the total LOC. We would like to add to the `line_counts` hash `total_with_blank_lines`. So we would have something like this:

[code]

That way we could add test client side making sure the coverage array is the same length as `total_blank_lines`.

As @markbates mentioned some tools don't offer information about, so we may want to avoid doing it.

cc @GordonDiggs

[2017-05-05 13:33] ale7714 commented on #121
Those tools that don't have information about blank lines, I guess don't have the coverage either right? 🤔  or if they have it that array doesn't really represent the file.

[2017-05-05 13:38] ale7714 commented on #120
@markbates i updated this ticket, to only be related to the bug. I suggested updating format-coverage to an array because i think it would make it easier. But if you think that fixing upload coverage so it sends properly the blank lines is easier. That would work too :).

[2017-05-05 13:51] markbates commented on #121
I'm looking at the different formatters now, here's the state of what we get from them:

**clover** - gives us just testable line information. they do offer a `loc` so we could "backfill" the `null` information.
<details>
[code]
</details>

---

**coverage.py** give us just testable information, it doesn't give us `null` lines, nor a "total" count, so we can't back fill the information.
<details>

[2017-05-05 14:09] markbates commented on #121
So knowing all that we know now, thoughts on this issue? @ale7714 @GordonDiggs

[2017-05-05 17:54] pbrisbin commented on #121
Hey @markbates, so this Issue is slightly mis-titled. We don't actually need `total_with_blank_lines`, so let me step back and describe the _actual_ issue. There is a link from here to there, which I can explain later, but we'll defer for now :)

We're seeing the reporter send partial `source_file[].coverage` arrays. For example, consider this file:

[code]

We require that the `coverage` array fo

[2017-05-05 17:57] markbates commented on #121
@pbrisbin so what you're asking then is you want me to back fill `null` for everything that isn't simplecov?

[2017-05-05 17:58] pbrisbin commented on #121
@markbates correct. To state it as an invariant: the index of a value in the `coverage` array must match the line number in the source file (ignoring 0-based vs 1-based here, I think you know what I mean).

[2017-05-05 18:07] markbates commented on #121
Cool, and you're OK with lost trailing `null` values, for those that don't let us know how many lines there should be.

[2017-05-05 18:19] pbrisbin commented on #121
Yup :)

[2017-05-06 22:28] #120 closed

[2017-05-07 12:09] ale7714 opened #124 "Ensure `nulls` coverage array when upload-coverage"
With a payload like:

[code]

When running `upload-coverage` the server receives the source files on `/test_file_reports/batch` as:

[code]
We should receive it with the `null`s

[2017-05-07 12:23] ale7714 commented on #116
I've tested on our JS repo and we have `covered_strength` for files as expected :).

@GordonDiggs the concept `covered_strength` applies only for files? Currently we send `covered_strength` for the whole test report but it's always 0 because we would need to calculate that value if we wanted it. WDYT?

[2017-05-08 14:35] GordonDiggs commented on #116
@ale7714 looks like we store it at the test report level, but don't use it anywhere. I'd leave it alone for now

[2017-05-08 15:12] markbates commented on #124
I'm unable to reproduce this using the `master` branch. Here's what I'm seeing being uploaded:

`time="2017-05-08T15:10:58Z" level=debug msg="posting request to https://api.codeclimate.com/v1/repos/5237427489af7e354e011c77/test_reports/59108a8281ced816de000001/test_file_reports/batch" `

[code]

[2017-05-08 15:13] markbates commented on #124
Can you confirm you are using the latest version of the test reporter?

[2017-05-08 15:16] ale7714 commented on #124
@markbates yes this is running test-reporter `HEAD`

[2017-05-08 15:17] markbates commented on #124
If you run `make test-simplecov` do you see the correct information being uploaded?

[2017-05-08 15:22] ale7714 commented on #124
For example for `make test-simplecov` for file `lib/code_climate/test_reporter/configuration.rb` coverage should be:
[code]

We get:
[code]

[2017-05-08 17:51] ale7714 commented on #124
@markbates as we were suspecting Rails does [`deep_munge`](https://github.com/rails/rails/issues/13420) of the params sent to the endpoint. So we will have to go back to the coverage string on the payload 😞 . Do you want me to open a new issue?

[2017-05-08 18:02] markbates commented on #124
*shakes his fist at rails!* yes, please open another issue. and know we know why it was a string in the first place. :)

[2017-05-08 18:02] #124 closed

[2017-05-08 18:08] ale7714 opened #127 "source file coverage must be a string"
Follow up to https://github.com/codeclimate/test-reporter/issues/124#issuecomment-299939688.

Source file coverage array must be send to the endpoint as a `String` to prevent `rails` from removing `null` values.

[2017-05-08 18:43] ale7714 commented on #127
@markbates small question here should we keep https://github.com/codeclimate/test-reporter/blob/master/upload/source_files.go#L13 as type `Coverage` or as type string?

[2017-05-08 18:44] markbates commented on #127
It should be kept as type `Coverage`. It gets converted to a `string` when it's marshaled to JSON here: https://github.com/codeclimate/test-reporter/blob/master/formatters/coverage.go#L18

[2017-05-08 18:51] ale7714 commented on #127
@markbates if i try `make test-simplecov` on master it looks like we're still sending an array.  So i was thinking it could be related to something like that or https://github.com/codeclimate/test-reporter/blob/master/upload/test_report.go#L34

[2017-05-08 19:10] markbates commented on #127
it looks like we're using a *different* `Coverage` type there, that's why. Let me fix that.

[2017-05-08 21:19] #127 closed

[2017-05-08 22:03] GordonDiggs opened #131 "Add support for Cobertura formatter"
Cobertura is a Java/Scala formatter. I have added an example to the DEVELOPERS.md file

[2017-05-09 15:40] GordonDiggs commented on #131
@markbates I found this as well that might be helpful https://raw.githubusercontent.com/jenkinsci/cobertura-plugin/master/src/test/resources/hudson/plugins/cobertura/coverage-with-data.xml

[2017-05-09 15:44] GordonDiggs commented on #79
@markbates I also added an example to the DEVELOPERS.md file. There is an XML format that we can support if the DTD is difficult

[2017-05-09 15:47] ale7714 commented on #116
i'm closing this issue for now then :)

[2017-05-09 15:47] #116 closed

[2017-05-09 20:36] ale7714 commented on #121
this seems to be working as expected on our JS repo.

[2017-05-09 20:36] #121 closed

[2017-05-10 22:17] dblandin commented on #77
Looks like this was addressed by https://github.com/codeclimate/test-reporter/pull/114

@noahd1, @ale7714 Does this issue still need to go through acceptance or is it ready to close?

[2017-05-10 22:20] dblandin commented on #78
Ditto on this issue. Looks like support was added in https://github.com/codeclimate/test-reporter/pull/115

@noahd1 @ale7714 Still needs acceptance or ready to close?

[2017-05-10 22:22] ale7714 commented on #77
i think is ready to close, wonder if we have a python repo we actively use where we could setup test-reporter.

[2017-05-10 22:24] ale7714 commented on #78
yep, ready to close i think :)

[2017-05-10 22:26] dblandin commented on #77
Not many but we do have a few under our organization: https://github.com/codeclimate?language=python

[codeclimate-cody](https://github.com/codeclimate/codeclimate-cody) is likely the most active. I can open up a PR switching over to the new reporter before closing this issue.

Thanks!

[2017-05-10 22:26] markbates commented on #77
@ale7714 https://github.com/codeclimate/python-test-reporter

[2017-05-10 22:34] dblandin commented on #77
@markbates Yep, we could switch that repo over too but it'll soon be deprecated following the release of the new unified test reporter :tada:.

And I kind of like that it uses itself to submit test coverage for its own source code.

![giphy 2](https://cloud.githubusercontent.com/assets/123595/25924092/f19f810c-35ae-11e7-957c-c5baa9d1ca6b.gif)

[2017-05-10 22:51] ale7714 commented on #77
@dblandin well i was thinking we should setup gocov on this repo :)

[2017-05-10 23:00] dblandin commented on #77
Definitely! 👍

[2017-05-11 03:50] andyw8 opened #132 "Any way to use this with CodeShip Basic's ParallelCI?"
I'm using Codeship Basic with 2 pipelines for RSpec and one for Cucumber.

It seems CodeShip Basic lacks the requirement of "the ability to run commands after all tests have completed" when using multiple pipelines.

Is there any way around this?

[2017-05-16 17:28] #76 closed

[2017-05-16 17:28] #77 closed

[2017-05-16 17:28] #78 closed

[2017-05-16 17:32] GordonDiggs commented on #24
@jmgarnier @paultwo Hi there! This reporter is now available! There are directions in the README. I'm going to close this issue, but if you run into any problems please open new issues!

[2017-05-16 17:32] #24 closed

[2017-05-16 21:19] dblandin commented on #87
Closing with #134

[2017-05-16 21:19] #87 closed

[2017-05-16 21:35] dblandin commented on #88
Closing with #135.

[2017-05-16 21:35] #88 closed

[2017-05-17 17:34] andyw8 commented on #132
I got helpful reply from @whiteotter of Codeship about this:

[2017-05-18 16:08] ale7714 opened #145 "Add tests to format-coverage command"
We want to add test to the format-coverage so we can test we don't introduce breaking changes.

[2017-05-18 16:09] ale7714 commented on #145
@markbates do you have tips on how to better test this? :)

[2017-05-18 16:10] markbates commented on #145
The best way would be to do what we did with the upload command. Split it off into its own package that makes it more easily testable.

[2017-05-19 12:45] pbrisbin opened #150 "Finalize Usage"
I went through all existing `--help` and thought about what I'd like to see changed before we stabilize 1.0. I anticipate a pretty detailed ~~bikeshed~~ discussion to ensue, so I'm going to open a separate Issue per command. This one represents the top-level usage and is where we should discuss the sub-command description strings.

---

**Current help**
[code]

**Proposed Changes**

- One line of

[2017-05-19 12:46] pbrisbin opened #151 "before-build Usage"
See #150 for updated description.

**Current help**

[code]

**Proposed Changes**

- Don't show `[flags]` if there are none.
- Don't show *Global Flags*

**Updated help**

[code]

[2017-05-19 12:48] pbrisbin opened #152 "after-build Usage"
See #150 for updated description

**Current help**

[code]

**Proposed Changes**

- Don't show *Global Flags*
- Use consistent case
- Update `--prefix` description (slightly)
- Give `exit-code` a short option
- Can we get the text wrapping?
- Non-inferred coverage input:
  - Do we support that here, if so we need a path option (probably can't be an
    argument because this is not a coverage-speci

[2017-05-19 12:49] pbrisbin opened #153 "env Usage"
**Current help**

[code]

**Proposed Changes**:

- Don't show *Global Flags*
- Remove `--format` (what does it do?)

[code]

[2017-05-19 12:50] pbrisbin opened #154 "format-coverage Usage"
**Current help**

[code]

**Proposed Changes**:

- Don't show *Global Flags*
- Use consistent case
- Always require `--input-type`
- Change `--input-type` description (slightly)
- Change `--prefix` description (slightly)
- Accept path as arg, Default to `stdin` if missing
- Default to `stdout` if `--output` not given
- Can we get the text wrapping?

**Updated help**

[code]

[2017-05-19 12:51] pbrisbin opened #155 "sum-coverage Usage"
**Current help**

[code]

**Proposed Changes**

- Fix *Usage* (this accepts paths)
- Use consistent case
- Don't show *Global Flags*
- Default `--output` to stdout if missing
- Update `--parts`

**Updated help**

[code]

[2017-05-19 12:53] pbrisbin opened #156 "upload-coverage Usage"
**Current help**

[code]

**Proposed Changes**:

- Don't show *Global Flags*
- Use consistent case
- Accept path as arg, not `--input` flag. Default to `stdin` if missing
- Can we get the text wrapping?

**Updated help**

[code]

[2017-05-19 13:02] pbrisbin commented on #154
This moves inference of type/path *out* of `format-coverage` and to `after-build` exclusively. I think this is overall simpler. So far, folks using `format-coverage` directly often need to (and I think are always OK with having to) pass the type/path explicitly.

[2017-05-20 04:30] ale7714 opened #157 "Avoid calling git on upload-coverage/sum-coverage"
upload-coverage/sum-coverage should get all the info from the input file(s) and avoid calling git. Those commands can be run on a container where the git repo is not present anymore.

I  beleilve that the issue is coming from [here](https://github.com/codeclimate/test-reporter/blob/master/formatters/report.go#L81) that calls `env.New()`. I think we don't need to get the `env.gitInfo()` on the case

[2017-05-20 15:07] pbrisbin opened #158 "sum-coverage null+0 behavior"
`sum-coverage` currently expects that a file's coverage information in any individual payload will either be present and accurate, or missing. Under this assumption, the elements in each `coverage` array are currently combined with the following rules:

[code]

If using a feature like [SimpleCov's `track_files`](http://www.rubydoc.info/gems/simplecov/SimpleCov/Configuration:track_files), this assu

[2017-05-20 15:42] noahd1 commented on #158
That's my feeling at the moment. This is hard to change. The other option is to keep today's default and provide a summing strategy.

[2017-05-20 15:42] noahd1 commented on #158
(Accidental close)

[2017-05-20 15:44] noahd1 commented on #158
(Also a premature submission)

I noted that this is hard to change because changing default would inexplicably change coverage numbers without a clear "break"

[2017-05-20 15:55] pbrisbin commented on #132
Hi @andyw8, sorry for the delay here.

It is possible to do a similar sort of thing with the `cc-test-reporter` tool. The `sum-coverage` sub-command takes a `--parts` flag which indicates how many files you expect it to sum. If it sees fewer than those, it errors. That means you could *attempt* to do this at the end of both pipelines and expect whichever finished last to succeed.

I would try some

[2017-05-20 16:56] pbrisbin commented on #158
My vote is it's fine to change because:

1. This scenario is a very infrequent edge case (possibly never, beyond this example which is demonstrably broken)
1. There are very few people besides us using this reporter now
1. It's pre-1.0

[2017-05-20 17:05] noahd1 commented on #158
Ok think this is actionable.

[2017-05-20 17:56] andyw8 commented on #132
Thanks @pbrisbin, I'll give that a try.

[2017-05-21 01:01] ale7714 commented on #157
@maxjacobson if everything behaves correctly i would close this issue. WDYT?

[2017-05-21 01:17] maxjacobson commented on #157
👍 works for me

[2017-05-21 01:17] #157 closed

[2017-05-21 04:06] #158 closed

[2017-05-21 15:20] pbrisbin opened #168 "sum-coverage --output -"
Running `sum-coverage --output -` creates a file called `-`; such an invocation should output to `stdout`.

I've found this bug before on other sub-commands. I wonder if there's a way to centralize handling of a file-path option along with this fix so all the path flags behave correctly with regards to a `-` argument as `stdout`/`stdin`.

[2017-05-30 16:19] pbrisbin commented on #132
I'm going to make this Closed. Feel free to re-open if you're still having trouble.

[2017-05-30 16:19] #132 closed

[2017-06-04 02:47] ale7714 commented on #168
tried it and it's fixed :)

[2017-06-04 02:47] #168 closed

[2017-06-04 03:26] ale7714 opened #177 "Wrong git info when on a detached HEAD"
When setting up `test-reporter` on travis, the git info uploaded is not the correct one because job is running in a detached HEAD.

[2017-06-04 07:25] masa-iwasaki opened #179 "409 Error response"
I tried new coverage reporter today and got 409 errors. I paste a partial console log on CircleCI.

[code]

The first line shows SimpleCov had finishes successfully. So the error log will be caused by test reporter. And the last line shows the executed command line.

[2017-06-05 16:56] oboxodo opened #181 "Working example for parallel reporting from Solano CI"
Reporting this here in case you want to include some [working example for a parallel build from Solano CI](https://gist.github.com/oboxodo/9571987ea6841c0854f49a916d65c613).

This one is a bit more complex to include it all in the `solano.yml` file but you might still want to try.

Happy to receive feedback to simplify it.

[2017-06-05 17:07] ale7714 commented on #179
hi @masa-iwasaki, thank you for trying out the new test-reporter. A 409 response from API means that we have created a test-report for that particular commit SHA. Did you retry your CI build?

Please, can you push a commit and check if test-reporter finish successfully?

[2017-06-05 22:23] #177 closed

[2017-06-06 02:09] masa-iwasaki commented on #179
hi @ale7714.

I pushed a new commit but still got same errors.

[2017-06-06 02:12] ale7714 commented on #179
@masa-iwasaki can you share the error here?
Also can you try running `cc-test-reporter after-build --exit-code $?` with the `--debug` flag so you we can have more details.
Thanks.

[2017-06-06 09:14] masa-iwasaki commented on #179
@ale7714 I ran  the command with `--debug` option. But the log contains filenames in our private repo. Can I send it privately on your help page at https://codeclimate.com/help ?  I will close this issue if we can do that.

[2017-06-06 10:53] ale7714 commented on #179
@masa-iwasaki of course. Please write us through the help page. It would be great if you include this issue link for reference. Thanks again for trying out the test reporter.

[2017-06-06 10:59] masa-iwasaki commented on #179
OK. I submitted a request for customer support. I will close this ticket. Thanks for your help !

[2017-06-06 10:59] #179 closed

[2017-06-06 14:43] pbrisbin commented on #181
Thanks so much for putting this together! We would almost certainly like to incorporate this content either into the README or our main docs site; do we have your permission to copy, modify, and use it in that way?

[2017-06-06 14:44] pbrisbin commented on #181
/cc @noahd1

[2017-06-06 17:27] oboxodo commented on #181
Be my guest! I'm sure you can optimize it so I'm eager for feedback.

BTW, I tried a shorter version by embedding all the commands in `solano.yml`, but it didn't work because Solano started throwing warnings saying `pre_setup`, `post_worker` and `post_build` should be strings. So apparently they don't support yaml lists in those hooks?

[2017-06-06 17:32] oboxodo commented on #181
Also, please note that env var `SOLANO_WORKER_NUM` is *undocumented*. I found it by inspecting solano's environment with `printenv | grep -i "TDD\|SOLANO\|TEST\|WORK\|ID\|CI"` in those scripts and looking at the logs.

According to their docs I expected to be able to use `TDDIUM_TID` but that one always returned `0` so workers were overwriting each other's report.

[2017-06-07 03:56] professorNim opened #183 "Display success message on STDOUT when successful"
On error there is obviously output displayed, but on success there is no output sent to STDOUT. Are we to assume no output means everything succeeded? I know there is a debug runtime option that is more verbose, and the exit code status which should be 0, but maybe it would be nice to see a simple "Success!" message printed? Just my 2 cents...

[2017-06-08 15:45] ale7714 commented on #183
@professorNim thanks for trying out the new test reporter. The exit code is only 0 when command is successful but we will be adding a more verbose message.

[2017-06-08 16:28] mazjs opened #184 "Error: open : no such file or directory while running `format-coverage`"
Command I am running :

[code]

Error I am getting:

[code]

Any obvious mistake I am making?

I am trying to make this work in codeship.

[2017-06-08 19:55] ale7714 commented on #184
@mazjs thank you for trying our new test-reporter. I'm working on a fix that addresses this issue. I'll be letting you know when is released.

[2017-06-09 13:49] ale7714 commented on #184
@mazjs we just released [v0.1.10](https://github.com/codeclimate/test-reporter/releases/tag/v0.1.10) that should fix this issue. Let me know if you encounter anything else, I'm happy to help. I'm closing this for now.

[2017-06-09 13:49] #184 closed

[2017-06-09 17:57] #79 closed

[2017-06-10 11:55] professorNim commented on #183
@ale7714 good to know. I like the new test reporter, one less dependency in my app, and no frozen dependencies too!

[2017-06-10 11:56] #183 closed

[2017-06-12 16:59] davehenton commented on #181
@oboxodo Thanks so much for this info! We've added your example to our help docs [here](https://docs.codeclimate.com/docs/setting-up-test-coverage#section-ci-examples).

[2017-06-12 17:17] pbrisbin commented on #181
Thanks @davehenton, with those added there I'm going to close this Issue.

[2017-06-12 17:17] #181 closed

[2017-06-13 22:03] dinjas opened #190 "Add parallel builds example for CircleCI v2 beta"
I see a CircleCI example, but it's not clear to me what I need to do to use with the beta version of their v2 (docker-based) platform. Do you have an example of that?

Thanks!

[2017-06-13 22:06] dblandin commented on #190
Hi @dinjas!

We have more CI examples available on our docs site: https://docs.codeclimate.com/docs/setting-up-test-coverage

Let me know if you have any further questions after checking that out!

[2017-06-13 22:11] dinjas commented on #190
Thanks @dblandin, that's where I came from :)

The config for v2 looks a bit different and I'm not sure how to integrate with the newer setup. Circle has an example v2 config here: https://github.com/CircleCI-Public/circleci-demo-ruby-rails/blob/master/.circleci/config.yml

[2017-06-13 22:32] dblandin commented on #190
Ah, I see. I've been able to setup a 2.0 build using the machine executor which offers shared state between steps, but haven't yet dug into a working solution for 2.0 using the primary docker executor. As I recall, I don't think you have access to build artifacts between steps since your're then dealing with remote docker containers.

I'll do some digging and report back. Let me know if you come w

[2017-06-13 22:33] dinjas commented on #190
Will do, thanks!

[2017-06-14 16:33] #131 closed

[2017-06-14 17:55] oboxodo opened #192 "Submitting repeated commit report should be idempotent"
I'm using the scripts reported in #181 (which you incorporated in your [docs](https://docs.codeclimate.com/docs/setting-up-test-coverage#section-ci-examples)) with Solano CI. But I'm having a problem.

Sometimes the CI ends up running a build for the same commit. This could be either because we manually triggered a new build or because of a fast-forward merge or because of some other reason.

But

[2017-06-14 22:22] SeriouslyAwesome opened #193 "-bash: cc-test-reporter: command not found"
Hey gang, excited to try this new test coverage reporter on Circle CI (with parallel builds)! Ran into an issue following your guides [here](https://docs.codeclimate.com/docs/setting-up-test-coverage#section-ci-examples).

The pre-test step `cc-test-reporter before-build` fails with the message `-bash: cc-test-reporter: command not found`, despite following the guidelines verbatim. I ran `curl -L

[2017-06-17 17:53] lleger commented on #192
I ran into this as well. Rebuilding on CI caused a 409 which failed the build. I agree with @oboxodo — reporting a 409 is fine as long as the command passes. This will make sure the build still passes.

[2017-06-17 18:11] lleger commented on #192
FWIW, for now I’m running this on CI to keep the build from failing.

[code]

[2017-06-29 22:43] ale7714 commented on #98
@franklinyu 👋  sorry the late follow up on this. Just wanted to update update you on how to get the binaries
- latest will always point to our latest stable release
[code]
- specific version binary is available at `https://codeclimate.com/downloads/test-reporter/test-reporter-<version>-darwin-amd64`. For example, if you want the binary for the release v0.1.10 you will use the replace `<version>` w

[2017-06-29 22:43] #98 closed

[2017-06-30 15:32] franklinyu commented on #98
Thanks a lot! That download address looks much better than the S3 one. In addition, the high-level commands finally works! 🎉

1. Is this command-line utility is stable now? It now reads the reporter ID from `$CC_TEST_REPORTER_ID`, which used to be `$CODECLIMATE_REPO_TOKEN`. If this will be the final decision in foreseeable future, I may try to discuss with SemaphoreCI (my CI provider) about changi

[2017-07-10 22:40] chrishulton commented on #193
Hey, sorry for the delay, I did not see this issue earlier.

Are you still experiencing this problem?  We have a darwin package available as well at `https://codeclimate.com/downloads/test-reporter/test-reporter-latest-darwin-amd64` that might be useful depending on your architecture.

Otherwise, I'm not sure what might be causing this.  Does anything seem off with your `$PATH`?  Can you run other

[2017-07-12 15:38] wfleming commented on #193
This might be a simple PATH issue with our CircleCI guide: since we recommend writing the binary to `./cc-test-reporter`, and `.` probably isn't in the `PATH`. The fix may be to change the steps executing the binary to run `./cc-test-reporter`? e.g.

[code]

[2017-07-12 15:42] ale7714 commented on #193
@wfleming that's exactly it.

[2017-07-12 17:28] rjenkinsjr opened #198 "Cannot find cobertura.xml generated by sbt-scoverage"
We have a Scala app using [sbt-scoverage](https://github.com/scoverage/sbt-scoverage) to calculate code coverage and write a Cobertura-compatible XML report file.

Assume the following script is being executed in the directory `/app`, with the build script located at `/app/build.sbt` and the Scala source code package hierarchy starting at `/app/src/main/scala`:

[code]

1. cc-test-reporter does no

[2017-07-12 18:06] pbrisbin commented on #198
Hi @rjenkinsjr I believe this would be solvable by "dropping down" to lower-level `format-coverage` and `upload-coverage` commands. These commands take options to specify a) where to find the coverage file and b) what prefix any source entries will have within the coverage file, that should be stripped to make them relative to project root. I *think* these two things would allow the reporter to fu

[2017-07-12 18:25] SeriouslyAwesome commented on #193
Thanks @wfleming I'll give that a shot and report back.

[2017-07-13 22:46] SeriouslyAwesome commented on #193
@chrishulton @wfleming's suggestion worked. Calling `./cc-test-reporter before-build` works as expected. I'm having other issues configuring it for parallel tests, but I nothing I can't resolve by reading the docs and a little experimentation. Thanks all!

[2017-07-13 22:46] #193 closed

[2017-07-19 15:22] wvh-shanee opened #202 ".NET Test Reporting from Appveyor"
I am trying to find a succinct example of how to set up a .NET to send test coverage information from Appveyor to CodeClimate's coverage system.  It doesn't seem to be a natively supported CI system, so any assistance would be appreciated.

[2017-07-19 17:10] wvh-shanee commented on #202
If it makes a difference on this one, we are using MSTest with a .NET Core project.  Thanks!

[2017-07-23 10:44] koraktor opened #204 "Error: coverage length mismatch for Java / Cobertura"
I tried using test-reporter with [Mavanagaiata](https://github.com/koraktor/mavanagaiata). I had quite a few problems regarding Cobertura that I was able to work around using e.g. `format-coverage`, but this problem seems to persist:

[code]

I’d guess `JGitRepository.java` ([source](https://github.com/koraktor/mavanagaiata/blob/7bd93918cd89f857b7ec70efa668ffd1bc01cddc/src/main/java/com/github/kor

[2017-07-24 14:36] pbrisbin commented on #204
Thanks for the report @koraktor, sorry for the trouble. We'll look into this as soon as we can.

[2017-07-24 15:21] chrishulton commented on #202
Hi @wvh-shanee, we haven't yet focused on support for .NET, though more languages and formats are being added over time.

What coverage tool are you using?  This is the [list of the current coverage tools we support](https://github.com/codeclimate/test-reporter/tree/master/formatters):
* clover
* cobertura
* coveragepy
* gcov
* gocov
* jacoco
* lcov
* simplecov

[2017-07-26 04:00] ale7714 commented on #204
@koraktor 👋  a fix is in progress on this [PR](https://github.com/codeclimate/test-reporter/pull/206) to address this issue. Can you share with us your `cobertura/coverage.xml` file? I would like to do some more testing.

[2017-07-27 07:38] koraktor commented on #204
I’ve seen that #206 is already merged. Do you still need my Cobertura output?

Is this already available in the release from https://codeclimate.com/downloads/test-reporter/?

[2017-07-27 15:27] ale7714 commented on #204
@koraktor the changes were released on the version `0.1.13`. If you're using `latest` release, you will get those changes. You can download latest from https://codeclimate.com/downloads/test-reporter/test-reporter-latest-linux-amd64.
If the issues you were seeing aren't solved by this release, it would be really helpful to have your Cobertura output.

[2017-07-27 19:20] koraktor commented on #204
No, seems like #206 didn’t fix my problem. The error is still the same.

[code]

Here’s a zipped version of my `coverage.xml`: [coverage.zip](https://github.com/codeclimate/test-reporter/files/1181017/coverage.zip)

[2017-07-31 14:47] ale7714 commented on #204
@koraktor thanks for sharing your `coverage.xml`. We're looking into this.

[2017-08-01 19:08] ale7714 commented on #198
@rjenkinsjr hi, sorry for the late response. Thanks for sharing your workaround.
I wanted to checkin with you about:

did the test reporter exited with an error? can you share it with us?

[2017-08-02 18:03] ale7714 commented on #204
@koraktor we just release a new version [`0.1.14`](https://github.com/codeclimate/test-reporter/blob/master/CHANGELOG.md#v0114-2017-08-02) that addresses your issue.
Being able to inspect your `Cobertura` file was really helpful. Thank you!

[2017-08-04 19:21] koraktor commented on #204
Thanks for the fix.

[2017-08-04 19:21] #204 closed

[2017-08-09 20:35] rjenkinsjr commented on #198
@ale7714 I believe it did exit with an error, but since we've implemented that workaround on all our projects I no longer have an example on hand. I'll try to recreate the error in the next few days and post the results here for you.

[2017-08-15 02:58] bethesque commented on #192
+1 for this.

[2017-08-22 08:15] hass-laughingman commented on #193
Hi Sorry to open this again, but I'm getting the same issue.
I have a docker image built on `ruby:2.4.1-alpine`
I tried adding the location of `cc-test-reporter` to PATH but still getting
`sh: cc-test-reporter: not found`

[2017-08-25 02:45] VladShcherbin opened #217 "Questions on travis usage"
Hey, I've seen an [example of travis](https://docs.codeclimate.com/docs/travis-ci-test-coverage) usage in the docs:

[code]

I've got some questions about it:

1) Why do we need to set `GIT_COMMITTED_AT` env variable?
2) In package readme, `before-build` is executed before tests. It's not executed in example, why?
3) In example, in the last step, after tests are executed,  there is `if [ "$TRAVIS_

[2017-08-25 19:25] dblandin commented on #190
Hey @dinjas,

Looks like we've added some example configuration documenting how use the new test reporter in a Circle 2.0 project: https://docs.codeclimate.com/docs/circle-ci-test-coverage-example#section-circleci-20

Let me know if that makes sense and works for you!

[2017-08-25 20:02] dinjas commented on #190
Thanks @dblandin! This looks promising, I'll give it a shot when I have an opportunity to - early next week hopefully.

[2017-08-25 23:29] jsippel commented on #198
When we ran into this problem in circleci, the error we saw was
`#!/bin/bash -eo pipefail
./cc-test-reporter after-build -t cobertura
ERRO[0000] could not find coverage file
could not find any files in search paths for cobertura. search paths were: , cobertura.xml, cobertura.ser
Error: could not find any files in search paths for cobertura. search paths were: , cobertura.xml, cobertura.ser
Usage:

[2017-08-29 16:15] rjenkinsjr commented on #198
@ale7714 when we first started working on this, we encountered the error that @jsippel posted above.

We then tried copying `cobertura.xml` into the directory where we were running `cc-test-reporter`, which caused errors like this:

[code]

Next, we tried editing `cobertura.xml` to manually update the filenames written there (obviously not intended as a permanent fix). For example, we would change

[2017-08-29 16:27] ale7714 commented on #198
@rjenkinsjr Thank you for  sharing your cobertura file. Sorry i didn't have an update sooner. We're tracking this and will update our Cobertura formatter to take into account the <source> tag. I'll let you know when an update with this fixed is released.

@jsippel thank you for writing. Currently `cc-test-reporter` will try to share the `Cobertura` file within your project folder but many tools st

[2017-08-31 19:55] netflash commented on #198
Hi there,

I have the similar problem, but with jacoco formatter.
my workaround is almost the same as the one mentioned in the first message
[code]
it's better that nothing, but still doesn't work as the `filename.java` could be in a sub-directory

and BTW the reporter searches for `jacoco.xml`, not the `jacocoTestReport.xml`.

I won't create a separate issue for this - as I'm just evaluating code

[2017-08-31 22:44] ale7714 commented on #198
@netflash 👋 thanks for reporting this. Can you share an example of your coverage file? it would be helpful.
Currently the `test-reporter` is able to infer a handful of default coverage filenames but it's not an exhaustive list yet. That's why we offer the option to pass the path to the coverage file as an argument to the test reporter.
Also, adding`jacocoTestReport.xml` to the current [searchPaths

[2017-09-06 22:44] ale7714 commented on #217
Hi @VladShcherbin  👋  , sorry for the late response.

I'm gonna start by replying the last question

TravisCI has the concept of branch builds and pull request builds. Users that use both will triggered 2 builds every time they open or change a PR. A Pull Request build runs on a detached `HEAD`. But we prefer to run the test reporter on branch builds because if the `test-reporter` needs to shell o

[2017-09-07 06:25] VladShcherbin commented on #217
@ale7714 thank you for the info, it'll be great to add this to the docs for other devs and maybe a simple example when you don't care about PR's, only commits.

[2017-09-07 06:25] #217 closed

[2017-09-07 08:36] sfdye opened #223 "coverage.py on Circle Ci example"
I am trying to use coverage.py with [pytest-cov](https://github.com/pytest-dev/pytest-cov),

on Circle CI build, the coverage runs without an issue, however it's not able to find the .coverage result to upload to Code Climate:

Error message:
[code]

Can you give an working example for Python/coverage.py?

My Circle CI `config.xml`:

[code]

My `.coveragerc`
[code]

[2017-09-07 10:13] #223 closed

[2017-09-07 10:14] sfdye commented on #223
Just figured it out.

[2017-09-12 16:16] jondavidjohn opened #224 "Multiple Suites/Parallelized usage "A test report for commit X already exists""
I am trying to set up coverage aggregation for a parallelized build, per [this documentation](https://docs.codeclimate.com/docs/codeship-ci-test-coverage-example#section-parallel-test-coverage)

and then in the "Parallel Test Coverage" section it states

I currently have the pre/post commands running, and am seeing that when I call `after-build` only one of my pipelines upload successfully, the re

[2017-09-12 16:16] jondavidjohn commented on #224
Maybe just remove the `after-build` call from each pipeline?

[2017-09-12 17:15] jondavidjohn commented on #224
That seemed to work, might want to clarify in the docs that you don't want to run `after-build` in each pipeline individually.

[2017-09-12 19:51] davehenton commented on #224
@jondavidjohn You are exactly right. I'll update those docs to be a little more clear about this. Thanks for the feedback, and let us know if you run into any other issues with this.

[2017-09-13 17:54] dinjas commented on #190
I've played around with that a little bit, but the example does not line up to what I am doing exactly (Rails vs PHP) and I have not had opportunity to dig into it further. Will update here if I get the chance to do so, but might be some time as this is somewhat low priority for me right now.

[2017-09-14 07:15] andreas-h opened #225 "Anaconda Packages"
It would be great if you could build and upload conda packages for this repo to anaconda.org. conda is a common way to build Python packages and it would be very convenient to have the test reporter installable via conda.

[2017-09-14 15:21] maxjacobson commented on #225
Hi @andreas-h

Right now, we support one way of installing the test-reporter:

[code]

What are the advantages of distributing it via conda as well?

[2017-09-15 09:07] andreas-h commented on #225
Thanks for your answer, @maxjacobson !  With conda, the user wouldn't have to remember a URL  and could just do `conda install cc-test-reporter`.  However, since the main purpose is automated use, and nobody wants to do that manually anyways, it's no problem putting those two lines into the script.
Sorry for the noise ..

[2017-09-15 09:07] #225 closed

[2017-09-15 13:51] ale7714 commented on #198
@rjenkinsjr from `v0.2.1` and up `test-reporter` should take into account the source tags from the cobertura file. Also you should be able to remove the `cd` command your CI script and run
[code]

Let me know if you have any other question.

[2017-09-15 18:52] maxjacobson commented on #225
👍 thanks for the idea - if we introduce future distribution channels in the future, we'll consider conda, and now it's in our minds :)

[2017-09-18 14:04] kellicamp commented on #224
Thanks that will help

[2017-09-19 22:16] a-b opened #226 "Heroku CI rails app test coverage"
Please include Heroku CI specific manual, how to run test coverage for rails app.
Inspired by https://github.com/codeclimate/ruby-test-reporter/issues/183

[2017-09-21 15:06] toddmazierski commented on #226
Thanks, @a-b. We're still working on getting the required environment variables from Heroku CI as [mentioned in this comment](https://github.com/codeclimate/ruby-test-reporter/issues/183#issuecomment-290177267). Please stand by!

[2017-09-26 01:52] ale7714 commented on #198
Closing this as the issue was addressed. Feel free to open a new issue if anything comes up.

[2017-09-26 01:52] #198 closed

[2017-09-26 10:13] andrewmichaelsmith opened #227 "Prefix not being honoured in after-build"
Perhaps I misunderstood something here, but I expected the uploader to find my `coverage.xml` in `/tmp`.

Running from a project dir (not /tmp):

[code]

[code]

And if we strace it (going off the `stat`), it does indeed only appear to be looking in the cwd:

[code]

[2017-09-26 15:36] dblandin commented on #227
Hey @andrewmichaelsmith,

The `-p|--prefix` option is meant to override the root directory of your source code. This defaults to the CWD. For example, if your source code is at `/home/user/src/project` then the default `prefix` would be `/home/user/src/project`. We use this to translate absolute file paths in the report to project-relative file paths.

Overriding this is useful when you run a test

[2017-09-27 13:32] andrewmichaelsmith commented on #227
Apologies, I should have verified this before closing (I actually came up with an alternative solution - but have since found that doesn't work but your solution looked sound).

I can't seem to get your trick working:

[code]

Any ideas?

[2017-09-27 14:51] dblandin commented on #227
Hey @andrewmichaelsmith,

Can you try a positional argument instead? We might need to look into the stdin support.

[code]

[2017-09-27 15:39] juliancoleman opened #228 "Semaphore CI JavaScript Example"
I'm looking for instructions on how to set up the `test-reporter` with Semaphore CI. I'm a bit new to the CC ecosystem, and I'm unfamiliar on how this is supposed to work in a CI without a config file, unlike Circle CI or Travis.

I have most of the reporter working, but it looks like it requires an `--exit-code` of type `int`. What values are being expected here? `$?` may not always be the case a

[2017-09-27 20:06] juliancoleman commented on #228
I answered my own question, so I'll post the configuration below...

### Step 1 - Setup

using yarn or npm, run the following

[code]

### Step2 - Script

add the following script to the `scripts` section of your `package.json`. I recommend calling the script `coverage`, or something similar for semantics.

[code]

### Step 3 - Semaphore

add the following environment variable via __Project Settin

[2017-09-27 21:07] ale7714 commented on #228
@juliancoleman 👋 thank you for your interest in Code Climate and our test reporter.

I'm glad that you have a solution but it's using the old test reporter. So i wanted to help you with a few tweaks to get our new test reporter properly setup on `Semaphore CI`.

[code]

You don't need
[code]

And you can remove CODECLIMATE_REPO_TOKEN as well.

Let me know if you have any questions about the exampl

[2017-09-27 23:56] streetlogics opened #229 "Documentation for usage with multiple test suites run in parallel"
Mentioned here - https://github.com/codeclimate/ruby-test-reporter/issues/134#issuecomment-330916664, it seems that when one is using two different test suites and parallelizing those tests that configuring things gets a bit tricky.  I played around with a few different circleci configs trying to get it working (using this as a starting point https://docs.codeclimate.com/docs/circle-ci-test-covera

[2017-09-29 15:53] juliancoleman commented on #228
Thank you so much for the detailed instructions, @ale7714 . I'll work on reconfiguring this weekend and I'll get back to this issue when I have success on it.

[2017-10-03 04:25] brynary commented on #226
Update: Heroku now supports a `HEROKU_TEST_RUN_COMMIT_VERSION` env variable. I think we can get this working with that.

(https://github.com/codeclimate/ruby-test-reporter/issues/183#issuecomment-290177267)

[2017-10-04 16:00] davehenton commented on #229
Hey @streetlogics. You can find more info on configuring the reporter with multiple test suites in our docs [here](https://github.com/codeclimate/test-reporter#multiple-suites). If you still have questions afterwards, ping us over at [support](https://codeclimate.com/help), and include the following info:

- Name of your repo
- A copy of your CI configuration file
- Output from your CI (after incl

[2017-10-04 18:31] efueger commented on #226
Cross-posting [this comment](https://github.com/codeclimate/ruby-test-reporter/issues/183#issuecomment-290177267):

@dblandin mentioned: Hey @joshwlewis,

[2017-10-04 18:53] dblandin commented on #226
Thanks @efueger!

@brynary I think we're still blocked until we have the git committed at value available.

[2017-10-07 18:14] mackbrowne commented on #227
@dblandin

I'm having the same issue.  My coverage report is in a folder in the root of the project at '.coverage/lcov.info'

I tried

[code]

And

[code]

Neither worked.  The only way i can get it to work is if the folder is 'coverage' without the dot.  AKA the default place it's looking for it.

[2017-10-08 03:50] mackbrowne commented on #227
got it working, heres what i needed to do

[code]

[2017-10-09 15:35] dblandin commented on #227
@mackbrowne Yep, that looks good to me 👍

Sorry for the confusion. I don't think we support the `< .coverage/lcov.info` stdin style.

[2017-10-09 17:00] dblandin commented on #226
Hey @a-b,

We've discussed this internally and while we're waiting on Heroku to support this environment variable via Heroku CI, you can use the following (not entirely recommended) workaround:

[code]

This fakes the git commit "committed at" data point with the current time.

Note that this might produce undesirable behavior when rendering test coverage information on codeclimate.com or annotati

[2017-10-12 17:40] juliancoleman commented on #228
@ale7714 I'm getting the following error: `bash: 0: command not found`. Should we wrap those in quotations?

[2017-10-12 17:47] ale7714 commented on #228
@juliancoleman do you know which command are you getting this error from?

[2017-10-12 17:48] juliancoleman commented on #228
I'm getting it from the `$SEMAPHORE_THREAD_RESULT`. It's coming from `then 0; else 1; fi;`

[2017-10-12 17:59] ale7714 commented on #228
@juliancoleman oh, i miss an `echo` before the 0 and 1
so the command should be:
[code]

sorry for the confusion 😅

[2017-10-12 18:02] juliancoleman commented on #228
That works! I didn't know how `echo` was going to work with a variable assignment.. anyway, one final error on that last command...

[code]

[2017-10-12 18:07] ale7714 commented on #228
@juliancoleman please, can you add the `--debug` flag to `after-build`?. Like this:
[code]
And paste the output here.

[2017-10-12 18:09] juliancoleman commented on #228
[code]

[2017-10-12 18:11] ale7714 commented on #228
@juliancoleman is your lcov output under `coverage/lcov.info`? if you run cat `coverage/lcov.info` before running `after-build` are you able to see the output of your lcov.info file?

[2017-10-12 18:14] juliancoleman commented on #228
I'm actually not running lcov. one second

[2017-10-12 18:19] juliancoleman commented on #228
okay, so I'm using `istanbul cover --report lcov _mocha` and all seems to be working!

[2017-10-12 18:21] juliancoleman commented on #228
![screenshot-20171012112013-1106x458](https://user-images.githubusercontent.com/11545939/31512338-5fb47058-af3f-11e7-9498-85ba45c313be.png)
![screenshot-20171012112102-168x100](https://user-images.githubusercontent.com/11545939/31512351-769218e8-af3f-11e7-8974-fc0a73f61439.png)

nice.

[2017-10-12 18:25] ale7714 commented on #228
@juliancoleman 🎉  nice! thanks for trying out the new test reporter. Glad that everything is working. Any other questions? or can I close this issue?

[2017-10-12 18:59] juliancoleman commented on #228
We can close this issue :+1:

[2017-10-12 18:59] #228 closed

[2017-10-17 20:33] taiidani commented on #192
Ditto here. I had this particular quirk hit me painfully when rerunning an already successful multi-stage build on CircleCI 2. It really shouldn't fail if run a second time -- CI/CD runners do that all the time.

[2017-10-19 20:01] HenrikPilz commented on #223
What was your solution?

[2017-10-21 01:18] jmcarp opened #237 "Source paths not respected in coverage.py format"
I'm generating a coverage report with `pytest` like this:

[code]

But `after-build` fails with

[code]

It looks like this is happening because file paths within `packages` are relative to the path in `sources`, which doesn't appear to be used here. I can work around this by changing to the `mypackage` directory before running `after-build`, but it would be more intuitive if I could run `after-bu

[2017-10-21 01:25] jmcarp opened #238 "Support .coverage json file"
By default, coverage.py plugins for `pytest` and `nosetests` output to a json file called `.coverage`. It would be convenient if `test-reporter` could locate and parse this file. Ideally, I'd like to be able to run something like this without specifying non-default options:

[code]

[2017-10-22 15:16] mrrsm opened #239 "The test reporter file goes away due to site maintenance"
We had multiple builds fail because the site that the curl request points to was down for maintenance.  Can the files for the test reporter be served from a different location to prevent this from happening?

[2017-10-23 00:16] albertyw opened #240 "github.com/Sirupsen/logrus import needs to be updated"
"Sirupsen" updated his username to be "sirupsen" so dependencies on any of his libraries, particularly logrus should be updated to the new path.

[2017-10-23 20:24] toddmazierski commented on #240
Thanks for the heads up, @albertyw!

For the purposes of fetching, GitHub usernames aren't case-sensitive, so `dep ensure` still works as expected.

There are [many changes](https://github.com/sirupsen/logrus/compare/v0.8.7...v1.0.0) between the version of Logrus we're currently using (`v0.8.7`) and the version where the renamed username became "official" (`v1.0.0`). We don't have a compelling rea

[2017-10-24 16:32] dblandin commented on #239
Hey @mrrsm!

Thank you for the issue. You raise a great point!

We're internally discussing methods to keep resources like the test-reporter binaries available during our maintenance windows.

While this will allow your builds to format and sum test coverage reports, our API will still be unavailable and unable to receive or process test reports.

If you wanted to guard against that, you could add

[2017-10-24 17:08] mrrsm commented on #239
We are using the enterprise edition so having the api's go down is not an issue for us.
We were running into the same issue as #192 and fixed that with the `|| true`.  That made doing the curl request the important piece.  Once there is a stable build tagged I could get around this by managing a single binary per CI server.

I can't really put my finger on if queueing would be useful or not, it so

[2017-10-24 17:36] GordonDiggs commented on #239
Hey @mrrsm I just deployed a change so that the test reporter will remain available while we are down for maintenance! Going to close this issue

[2017-10-24 17:36] #239 closed

[2017-10-25 02:01] sullerandras commented on #192
I think adding a `|| true` is a dirty workaround because that silences all codeclimate errors, so you will never notice if it stopped working for some reason (which is likely since it's in a beta stage).
I hope the codeclimate team will come up with a real solution soon.

[2017-10-25 03:48] halkeye opened #242 "Coverage.py formatter gives EOF error"
[code]

The error  is just "Error: " so not very descriptive

[2017-10-25 04:05] halkeye commented on #242
Okay, I figured out this is because the default format is not supported

[code]

[code]

i've been trying --add-prefix thingie, but passing my module directory and the full path to it doesn't seem to work

[2017-10-25 04:33] halkeye commented on #242
okay, had to eventually run it without mypackage

[code]

Now things work, so it looks like <source> is ignored in the xml

[2017-10-25 04:34] halkeye commented on #242
If i ran it with --cov=mypackage
it has <package name="."> not the package name like

https://github.com/codeclimate/test-reporter/blob/master/formatters/coveragepy/example.xml#L5-L9

[2017-10-25 15:26] mikebocian opened #243 "[SOLVED] Support for Jacoco coverage in Java projects does not work."
I've got a Java project built by Gradle with Jacoco plugin as a coverage provider ( I am using Jacoco because it is supported almost out-of-the-box in Gradle )

I would like to use CodeClimate also as a coverage browser. But there is a few things which need to be fixed before anyone uses it with this stack.
At first I would like to format coverage by using your tool. I try to do that by test-repor

[2017-10-25 15:45] ale7714 commented on #243
Hi @mikebocian, thank you for trying out our new test reporter. I'm sorry that you're finding some issues on the setup but I'm happy to help out.
If you can give me some more specific details on how are you running your test and the `test_reporter` it would be really helpful.
But to start I can suggest replacing `after-build` command with the use of the low level commands (`format-coverage` and `u

[2017-10-25 15:50] mikebocian commented on #243
@ale7714 I've check your Issues on Github, and I've already tried a few things. The first thing was to use the mentioned low-level commands. This issue is the result of trying to run the `format-coverage`

[2017-10-25 15:54] ale7714 commented on #243
@mikebocian I see. Please, can you share with me the commands you're using? and also the output from the `test-reporter` when you add the flag `-d` to the commands?

[2017-10-25 16:10] ale7714 commented on #243
@mikebocian thanks for sharing those details. Let's see if I understand correctly, your project directory looks something like
[code]

And the `test_reporter` is not aware of  `src/main/java`. If this information on the jacoco.xml report? It looks like the test reporter is failing to parse information on the report that would correctly to the location of the files. Can you share your xml with us?

[2017-10-25 16:17] mikebocian commented on #243
As far as I can see, jacoco.xml does not have an information about the structure of the project sources. It only knows the name of the class. I thing the solution to the problem would be to introduce two parameters to format-coverage command.
1) Path to the jacoco xml test result
2) Path to the roots of the source.

If it necessary, I will send the files to your support channel.

[2017-10-25 16:28] ale7714 commented on #243
@mikebocian it would be really helpful to have the Jacoco report. Once I have it, I'll discuss this issue internally and also your proposed solution. I'll update this issue as soon as I have an update. Thank you for your patience.

[2017-10-25 17:43] dja commented on #226
Is there a recommended way to install/setup `cc-test-reporter` for Heroku, and give it all the env variables we can until they expose a better `GIT_COMMITTED_AT` variable?

[2017-10-25 18:54] dblandin commented on #226
Hey @dja, you can use the workaround posted in https://github.com/codeclimate/test-reporter/issues/226#issuecomment-335218428. Just be aware that there might be some weirdness rendering data if the generated data and `commited_at` date are significantly different.

[2017-10-26 15:04] ereslibre opened #246 "`:nocov:` is ignored with simplecov"
Hello,

[This project](https://github.com/smartbox-io/cell) is supposed to have 100% coverage. If I execute it locally:

[code]

Travis has also this result: https://www.travis-ci.org/smartbox-io/cell/builds/292355378#L714

My best guess is that `.resultset.json` does not report this line is skipped in any way, only that it was not covered (0 passes):

[code]

The line marked as red in code climat

[2017-10-26 15:15] ale7714 commented on #246
Hi @ereslibre, thanks for trying out the new `test_reporter` and reporting this issue.

I think your hunch is on the right direction. I will do a little more investigation and discuss with the team a plan to address this.

Can you share with us your simplecov output? It's usually really helpful to have real life examples on where to test our fixes. If you don't feel comfortable sharing it here, yo

[2017-10-26 15:35] ereslibre commented on #246
The project is libre software so you should be able to even reproduce the problem yourselves: https://github.com/smartbox-io/cell

[code]

Attaching the output here too: [coverage.zip](https://github.com/codeclimate/test-reporter/files/1419015/coverage.zip)

I'm wondering if I can open a PR against `simplecov` so `:nocov:` surrounded lines are outputted on the `json` file with a `-1` count, effect

[2017-10-26 15:50] ale7714 commented on #246
@ereslibre gracias!
This a good point and I wonder if the desired behavior on `Simplecov` would be returning `null` instead of `0` for [line 34](https://github.com/smartbox-io/cell/blob/f444e50d56ffba78af53886aa9076302153da83f/app/controllers/api/v1/objects_controller.rb#L34) which is inside of the `:nocov:` tag.
`Simplecov` returns `null` for lines where coverage does not matter like comments or

[2017-10-26 15:59] ereslibre commented on #246
Sure, I will do that and have a look. Thank you for your wonderful feedback!

[2017-10-26 16:13] ale7714 commented on #246
I'm going to keep this issue open, while we find a resolution for this.

PS: going to remove the `bug` label for now. Since it looks like `simplecov` is reporting an inaccurate coverage value on `.resultset.json`

[2017-10-27 18:16] ereslibre commented on #246
@ale7714 As you can see I opened a PR that I don't expect to be merged, as it is highly inefficient. What `simplecov` does by default is really smart in order for it to be really fast.

I open a discussion, because maybe what makes more sense is to add an option to generate a `nocov` file that on codeclimate you can suggest to turn on. This file would be similar to the `resultset.json` file, only

[2017-10-28 18:09] ale7714 commented on #246
@ereslibre thank you for opening that PR and starting the discussion.

[2017-10-28 21:08] ale7714 commented on #243
@mikebocian thanks for sharing the xml with us. I've been reading a bit more about the jacoco setup and it looks like it's possible to setup the source directory as the root of the project. What do you think about trying that? What's your current JaCoCo setup?

[2017-10-28 23:09] kpheasey opened #248 "Error: invalid character '<' looking for beginning of value"
I suddenly started receiving this error today on CircleCI 2.0

[code]

Here's the relevant lines from my `config.yml`

[code]

To get around this problem, I've changed the last line to `- run: ./cc-test-reporter upload-coverage --exit-code$? || true`.  This is based on a comment in another issue.

[2017-10-30 14:57] maxjacobson commented on #248
Hi @kpheasey!

Thanks for opening this issue. On Saturday, we completed [a scheduled maintenance operation](http://status.codeclimate.com/incidents/qw29vxfzp17y) which required downtime. My colleague wrote some notes up in [a comment](https://github.com/codeclimate/test-reporter/issues/239#issuecomment-339051155) on another, similar issue about the improvements we can make for the test-reporter to

[2017-10-31 17:24] jisikoff commented on #243
Any word on this? I have the same problem.

[2017-10-31 18:41] ale7714 commented on #243
@jisikoff 👋, can you let me know more details on the issue you are having?

[2017-10-31 18:55] ale7714 commented on #242
@halkeye A new release was made recently with the goal of addressing this issue https://github.com/codeclimate/test-reporter/blob/master/CHANGELOG.md#v032-2017-10-30.  Let me know if you try and resolves the error you were having.

[2017-10-31 20:23] halkeye commented on #242
awesome! I worked around the problem, but I'll try to get it tested with the new stuff asap.

[2017-10-31 22:47] jisikoff commented on #243
It appears perhaps this line of code https://github.com/codeclimate/test-reporter/blob/6071de5269610044f03611a5a9200cdce9b579ac/formatters/source_file.go#L92 should be after the --add-prefix is applied in this file so that the gitblob function uses the add-prefixed name to find the source files.   My project structure looks like:

app_source/
  webapp/
    src/
        main/
            java/

[2017-11-02 18:05] lflux commented on #192
We ran into this as well when creating a [Concourse](https://concourse.ci) resource, [codeclimate-resource](https://github.com/lflux/codeclimate-resource), for CodeClimate. It would help at the very least to have a distinct exit code, or possibly a CLI flag to ignore 409's.

[2017-11-03 18:55] davehenton opened #252 "Error: you must supply a CC_TEST_REPORTER_ID ENV variable or pass it via the --id/-r flag"
**Error**: `Error: you must supply a CC_TEST_REPORTER_ID ENV variable or pass it via the --id/-r flag`

**Description**: The test reporter is unable to find your test reporter ID. This value either needs to configured within the environment or passed directly as a CLI argument.

**Resolution**: `export CC_TEST_REPORTER_ID=<your token> cc-test-reporter after-build --exit-code $?` OR `export CC_TEST

[2017-11-03 18:57] #252 closed

[2017-11-03 18:58] davehenton opened #253 "Error: file not found"
**Error:** `Error: file not found`

**Description:** This error is raised with the reporter is unable to find a file referenced with the test report. Does that file exist within your git repository? Was your test suite run within a different filesystem (such as in a docker container)?

**Resolution**: You may need to specify a prefix value. For example, if you're running the tests within a docker

[2017-11-03 18:58] #253 closed

[2017-11-03 19:00] davehenton opened #254 "Travis CI - Error: “bundler: command not found: rspec”"
**Error:** `Error: “bundler: command not found: rspec”`

**Resolution:** Change `bundle exec rspec` in the `.travis.yml` to `bundle exec rake`

[2017-11-03 19:00] #254 closed

[2017-11-03 19:02] davehenton opened #255 "Cobertura - could not find any files in search paths for cobertura"
**Error:** `could not find any files in search paths for cobertura`

**Description:**  `cc-test-reporter` looks for your coverage info within your project folder. Cobertura stores this information outside the project folder.

**Resolution:** Use [low-level commands](https://github.com/codeclimate/test-reporter/blob/master/man/cc-test-reporter.1.md#low-level-commands) to indicate where the coverage

[2017-11-03 19:02] #255 closed

[2017-11-03 19:04] davehenton opened #256 "HTTP 409: A test report for commit already exists"
**Error:** `HTTP 409: A test report for commit xxxxxxxx already exists`

**Description:** Code Climate has already received a test report for this commit.

**Resolution:** Updating your configuration to `cc-test-reporter after-build || true` will stop your builds from failing due to duplicate reports.

[2017-11-03 19:04] #256 closed

[2017-11-07 17:04] kpheasey commented on #248
@maxjacobson I haven't gotten test results reports back to GitHub since this error happened, even after remove `--exit-code....`.

[2017-11-07 21:14] maxjacobson commented on #248
@kpheasey Ah, sorry to hear that! It sounds like you're having an issue unrelated to our maintenance window, then. Will you please write in to our great support team at https://codeclimate.com/help with details on which repo is affected and what exactly you're seeing?

[2017-11-07 23:55] ale7714 commented on #243
@jisikoff sorry for the late response.
I see what you mean although the original intent of `--add-prefix ` was to allow user to add a prefix when they run tests on an environment that doesn't match their git structure but that way they can update file paths to match.
How is jacoco setup to load the files? is it possible to configure the root directory and load files from the source?

A workaround

[2017-11-08 06:25] jcrevits commented on #223
just in case someone stumbles here and to maybe avoid this - https://xkcd.com/979/

I had a similar issue with nosetests and had to use the `--cover-xml` flag. Warning - it did *NOT* work for me when using `--cover-xml-file=coverage.xml`

[2017-11-08 12:12] jisikoff commented on #243
I originally did something like that which does work but looks ugly so I ended up just writing a gradle task that fixes the paths inside the jacoco test report and copying it  before running the test reporter.  It would be nicer if this wasn't necessary though:
[code]

[2017-11-09 08:38] mrcasals opened #257 "Test coverage on conditional builds"
Hi all!

I contacted CodeClimate support and they told me to come here and open an issue, so here I am 😄

I'm contacting you regarding your Test Coverage beta feature. **I'm currently not using it**, but would like feedback before working on it as my setup might be complex to handle.

Repo: https://github.com/decidim/decidim
RubyGems page: https://rubygems.org/gems/decidim
Ci: CircleCI (https://ci

[2017-11-09 15:20] ale7714 commented on #243
@jisikoff thanks for sharing this workaround 👏 . I looks way better. I'll keep this issue open to have the feedback and discuss it internally.

@mikebocian what do you think about trying this workaround?

[2017-11-09 20:52] ale7714 commented on #237
@jmcarp 👋  sorry on the late response. Thank you for trying out the new test reporter and your feedback. Recently we made a new release of the test reporter [v0.3.2](https://github.com/codeclimate/test-reporter/blob/master/CHANGELOG.md#v032-2017-10-30) that I think will address the issue you're having. Can you try it and let us know how it goes?

[2017-11-10 11:01] mikebocian commented on #243
It's not the perfect one, but it works. The problem is when you have two separate directories with source. Like: `src/main/java` and `generated/main/java`. You have to manually exclude all `generated` ones from Jacoco, using something like:

[code]

Hope it will help someone.

But ok, for me it is not an issue anymore. Workaround is working quite ok.

[2017-11-10 19:52] maxjacobson commented on #257
Hi @mrcasals, thanks for the detailed issue.

Do you suppose it's possible to cache the simplecov artifacts between builds using Circle CI? If so, you could re-use existing results when the tests don't run. When they do run, the new results would overwrite the old ones.

This is only possible with private repos. For OSS repos, the URL is based on the GitHub repo slug, and so you can only add an OS

[2017-11-13 07:57] mrcasals commented on #257
Hi @maxjacobson!

I guess we would need to save only those reports created on `master`, and use either those or the ones created in the build. I guess the docs are these:

https://circleci.com/docs/2.0/caching/

I'll try to work on it, see if we get some sane results and report back. Thanks!

[2017-11-13 16:10] rustyautopsy commented on #223
I as well had a similar issue however, I am using **Travis-ci** & nosetests.

`nosetests -v --nocapture --nologcapture --with-coverage --cover-package=path/to/tests --cover-xml path/to/tests`

No love when running `./cc-test-reporter` until I added the `--cover-xml` to `nosetests`.

[2017-11-15 18:12] ham1 opened #259 "Failed to find jacoco.xml"
We have a Maven project which creates a jacoco.xml file in `target/site/jacoco/` but when running `./cc-test-reporter after-build` it says

Running with `./cc-test-reporter after-build -d -t jacoco` gives:

DEBU[0000] using formatter jacoco
DEBU[0000] checking search path  for jacoco formatter
DEBU[0000] checking search path jacoco.xml for jacoco formatter
ERRO[0000] could not find coverage file
c

[2017-11-15 18:18] ham1 commented on #259
The project dir structure after a test run looks like:

[code]

[2017-11-18 19:28] zanona opened #260 "What does the `before-build` command do?"
Sorry guys, but

Is way too obscure 😜

[2017-11-20 01:14] dja commented on #226
I have this almost fully working, except getting this issue when passing the workaround `GIT_COMMITTED_AT="$(date +%s)"`: `Error: strconv.Atoi: parsing "$(date +%s)": invalid syntax`

The date as formatted is `1511140351`

I'm setting variables as so:
[code]

[2017-11-20 15:01] pomle commented on #259
We have this problem too. I managed to get around it by copying the `jacoco.xml` file from `./target/site/jacoco/jacoco.xml` to `./src/main/java/jacoco.xml` and then running `cc-test-reporter` from inside `./src/main/java/`.

The CLI help for `cc-test-reporter` looks like you can give it PATH prefixes but I could not get any of them to work.

Obviously this is not a nice solution but could be help

[2017-11-20 20:19] dblandin commented on #226
Hey @dja,

It looks like your subshell value isn't excuting correctly. I think that's because you're wrapping the subshell command in single quotes which doesn't trigger interpolation.

I'm also wondering if you're `GIT_BRANCH` and `GIT_COMMIT_SHA` values are correct as they're missing the leading `$`.

Could you try the following?

[code]

[2017-11-21 18:37] efueger opened #261 "Coveralls reporting different coverage % than Code Climate"
User wrote into Support with:

----

Specific example:

- I am currently getting a 63% score on coveralls with partial lines, etc.
- But 71% under Code Climate.

`utils/filetype.js` is a good reference:
- Coveralls [shows](https://coveralls.io/builds/14278721/source?filename=utils%2Ffiletype.js) (88.89%), with partial for lines 4 and 7
- Code Climate [shows](https://codeclimate.com/github/zanona/p

[2017-11-21 18:38] efueger commented on #261
@zanona - feel free to add additional info for ^^ . Thanks!

[2017-11-22 10:49] ham1 commented on #259
Thanks for the workaround, it would be nice to have this fixed, unless I'm doing something wrong?

[2017-11-22 18:37] ale7714 commented on #261
👋  @zanona, thank you for using Code Climate and bringing this to our attention. Currently, Code Climate reports coverage on statement lines (or relevant lines) only. We don't support yet branch coverage but I'll bring this up for discussion internally.
We'll update the issue when we have more news.

PS: thanks @efueger for document it.

[2017-11-22 18:41] zanona commented on #261
Thanks, @ale7714 and @efueger. I will keep my following this issue.
Hopefully, it can be something you guys can consider implementing soon. — It would be a great addition.

All the best.

[2017-11-24 23:34] envygeeks opened #262 "Chokes because of GPG signatures."
CodeClimate test reporter chokes when `showSignature` is enabled inside of `~/.gitconfig`.

[2017-11-25 00:23] tkrotoff opened #263 "after-build: allow for multiple coverage reports"
When running `./cc-test-reporter after-build` would be nice to be able to specify multiple coverage reports.
Currently `--prefix` option only takes 1 path instead of multiple.

Use case: a "monorepo" with [Lerna](https://github.com/lerna/lerna). In such scenario you have multiple packages/projects inside the same Git repository and each of them have its own coverage report.

Examples: https://gith

[2017-11-25 00:42] ale7714 commented on #263
👋 @tkrotoff, thank you for trying out the new `test-reporter`.  `after-build` is intended to be use with a single build. For multiple test suites we recommend using the low level commands `format-coverage`, `sum-coverage` and `upload-coverage`. A small example can be found on the [README](https://github.com/codeclimate/test-reporter#multiple-suites).
Let us know if you have any other question.

[2017-11-25 10:12] tkrotoff commented on #263
With these low level commands I have to run an extra step within each package and not only inside [`.travis.yml`](https://github.com/tkrotoff/react-form-with-constraints/blob/master/.travis.yml).
Beside the extra work, cc-test-reporter is not an npm package but a binary. So now inside my code I have to compile cc-test-reporter for each platform I support (Windows, MacOS, Linux).

This is just not

[2017-11-26 04:47] ale7714 commented on #263
@tkrotoff I think your feedback could be a great enhancement for the test-reporter. But on the meantime I did a quick attempt on how to setup the `test-reporter` to report multiple coverage reports on this [PR](https://github.com/tkrotoff/react-form-with-constraints/pull/19/files).
If you want to try out on your repo update the `CC_TEST_REPORTER_ID` to the ID of your repo. Let me know what do you

[2017-11-26 05:42] ale7714 commented on #263
@tkrotoff also wanted to ask you about

Sorry, I’m not sure I understand the problem. Please, can you explain more? It should be enough to use the `test-reporter` on the CI (in your case Travis).

[2017-11-26 20:06] granth opened #264 "slow lcov format-coverage"
`cc-test-reporter format-coverage` takes 3 minutes to process my `coverage/lcov.info` file.

The old test reporter takes 2 seconds to upload the coverage file, so this is not quite as good.

The debug output is mostly lines like:

[code]

The `lcov.info` is generated by Istanbul. Is there anything I can change about it that will help `format-coverage`?

This is running on CircleCI 1.

[2017-11-27 12:43] tkrotoff commented on #263
Forget that, my mistake.
Thanks a lot for the PR! it works fine: https://codeclimate.com/github/tkrotoff/ReactFormWithConstraints

I've specified CC_TEST_REPORTER_ID directly inside Travis CI configuration

I see several improvements:
- Add your PR as a README.md example
- In the future: one command line that takes an array of coverage paths and if nothing is specified it detects coverage paths (l

[2017-11-27 12:43] #263 closed

[2017-11-27 16:45] ale7714 commented on #263
@tkrotoff Thank you for your comments. I wanted to lead you know that I updated you repo on Code Climate to point to https://codeclimate.com/github/tkrotoff/react-form-with-constraints. I'll pass along your feedback to the team. And if any question comes up don't hesitate to contact us again.

[2017-11-29 04:27] envygeeks opened #266 "Please sign a sums file, or checksums."
Please offer a way for us to validate that the download is not compromised, with a GPG key you publish somewhere we can get it, that's also hosted on a keyserver.

I feel that blindly downloading a binary wthout any checksum, is cause for disaster.  And people would say, well it's over SSL, but SSL doesn't prevent somebody from hosting a compromised binary.

[2017-11-30 01:06] jmcarp opened #267 "Allow upload from Travis without token"
Uploading coverage reports requires setting a token in the environment. The [documentation](https://docs.codeclimate.com/v1.0/docs/travis-ci-test-coverage#section-troubleshooting) recommends skipping coverage uploads on Travis pull request builds, presumably to avoid leaking tokens. But that means it's impossible to get pull request comments on changes in coverage.

Other test coverage products, l

[2017-11-30 14:58] aurule commented on #192
We've run into this same deficiency. A fix is apparently not in the near-term roadmap, according to an email from Dave at Code Climate, which is disappointing.

[2017-12-01 19:54] katwchen commented on #192
Hi everyone,
We will start working on a fix for this next week. Should have something out in a few weeks.
Thank you for your feedback and patience!

[2017-12-04 19:45] wfleming commented on #262
@envygeeks Can you please provide more details here? Which subcommand chokes? If you can provide examples of your invocation & the output generated that would be helpful.

[2017-12-04 19:46] wfleming commented on #240
Closing since this does not affect the current version or how we are managing our dependencies yet.

[2017-12-04 19:46] #240 closed

[2017-12-04 19:49] wfleming commented on #264
@granth thanks for the report, sorry for the poor performance.

Is the project you're working with OSS by any chance? We can try and reproduce independently, of course, but it might go faster if you're able to share the the repo or test `lcov.info` file that's specifically causing your problems.

[2017-12-04 19:53] envygeeks commented on #262
Just `git config --global log.showSignature true` and then try to do anything that involves Git inside of CodeClimate, probably `before-build` is enough to trigger this bug.

[2017-12-04 21:24] granth commented on #264
@wfleming No, I'm afraid it isn't. I can probably send you an `lcov.info` privately.

[2017-12-05 18:02] katwchen commented on #192
Hi everyone,

Thanks for your feedback, we've made an adjustment to this.
Now, if we submit test reports from multiple builds for the same commit SHA, we will give you a 409 "conflict when uploading" error, but the exit code is 0.

[2017-12-05 18:02] #192 closed

[2017-12-05 18:21] oboxodo commented on #192
Just FTR, https://github.com/codeclimate/test-reporter/pull/268 seems to be the PR with the code changes for this.

Thanks!

[2017-12-06 22:28] wfleming commented on #264
@granth I've caught a couple of pieces of low-hanging fruit just doing some code review, and have opened a PR (#270) with my work in progress. I wrote a small benchmark on that PR as well, but unfortunately none of the easy stuff I've already caught has shifted the needle on the benchmark much, so the bottleneck affecting you probably isn't either of the things I noticed.

If you're comfortable sh

[2017-12-06 23:01] bethesque commented on #192
Awesome!

[2017-12-12 19:10] darrenleeweber opened #271 "Setting for max coverage drop"
For ruby, SimpleCov has a max coverage drop setting.  We want to fail a build only when the total coverage drops by 1%, we don't care about anything less than that [1].  There is no option on the code-climate web UI or elsewhere to set a similar threshold; it fails travis.ci builds when coverage drops by -0.1% but we just don't care about that.  We've decided to turn it off to avoid these false bu

[2017-12-12 19:29] ale7714 commented on #271
@darrenleeweber Hi! Thank you for using Code Climate. Under your Repo -> Settings, you can enable or disable sending pass/fail statuses on your total coverage.
Also you can configure the threshold on `diff-coverage` (lines changed by your PR). You can read more about it on our docs [here](https://docs.codeclimate.com/v1.0/docs/configuring-your-analysis#section-test-coverage).

Currently, we don't

[2017-12-12 21:38] ale7714 commented on #267
@jmcarp 👋  thank you for using Code Climate and your feedback. First, wanted to start by saying that's safe to use your `CC_TEST_REPORTER_ID` directly on your travis file. We only use the ID to identify your repo (more details [here](https://docs.codeclimate.com/v1.0/docs/finding-your-test-coverage-token)).

The reason we were suggesting to avoid uploading results from push builds and PR builds, i

[2017-12-13 12:01] wahab054 opened #273 "Coverage Reports are uploading successfully but no coverage in code climate UI."
Hi Code Climate Team,
I've been using your cc-test-reporter as your documentation suggested with CodeshipCI. I have a set of parallel tests running in different containers/services. I'm using the low level commands.
`format-coverage` after every test batch then upload to S3.
after testing finishes, I download all reports, and then `sum-coverage` to create a combined report.
Next, `upload-coverage`

[2017-12-13 17:51] wfleming commented on #273
Hi @wahab054,

Sorry for the trouble.

Would you mind sharing the exact `test-reporter` commands you're running for each of the subcommands, including any flags and arguments you're passing?

On our backend I can see some validation errors processing the coverage reports due to invalid file paths in the report: the paths start with `/` and look like absolute paths. If you're using `--prefix`with `

[2017-12-13 21:10] #271 closed

[2017-12-14 08:48] wahab054 commented on #273
Thank you, so much for your support. Yes, the issue was with a few paths, now fixed.

[2017-12-14 08:48] #273 closed

[2017-12-18 16:10] magneticflux- commented on #259
@ham1 I'm having the same issue. For reference, here's my project: https://github.com/magneticflux-/kotlin-simplexml-rss/pull/1.

[2017-12-18 17:31] ale7714 commented on #229
👋  @streetlogics, sorry for the late follow up on this. We recently added an [example](https://github.com/codeclimate/test-reporter/blob/master/examples/multiple_suites.md#example-1) using Circle CI 2.0 and multiple suites.

Let us know if you have any questions.

[2017-12-21 09:43] flegall opened #280 "Setup code coverage on travis with a mono-repo architecture"
Hi,

I'm trying to set up code coverage on my travis build of js-given (https://github.com/jsGiven/jsGiven).

In my build the coverage file is located in ./js-given/coverage/lcov.info

The coverage is there, because coveralls already use it

I've setup the after_script part to :
[code]

I'm having this error :

[code]
Regards,

Florent

[2017-12-25 20:16] tarlepp opened #281 "Failing since 21.12."
I have been seeing following on my TravisCI output since 21.12.

`
$ if [[ $COVERAGE == true ]]; then php ./cc-test-reporter after-build --coverage-input-type clover --exit-code $TRAVIS_TEST_RESULT fi
/home/travis/.travis/job_stages: eval: line 58: syntax error: unexpected end of file
`

Before it was working just like expected.

[2017-12-26 13:43] pkopac opened #282 "Error: bufio.Scanner: token too long"
I've just tried support for coverage. It didn't work. It seems like reading of files is broken.
The same happens on localhost and on Travis CI. I've tested the latest version (0.4.0).

See eg. https://travis-ci.org/chartmogul/chartmogul-go

[code]

[code]
Size of `c.out`: 67K

Alternatively, for a smaller project I get:
[code]
Size of `c.out`: 19K

The files are one-liner outputs from `gocov test`

[2017-12-26 15:43] maxjacobson commented on #281
Hi @tarlepp.

Hm.

Do you mind sharing the pertinent parts of your `.travis.yml`?

One thing that jumps out from that error message is `php`. The `cc-test-reporter` program isn't a php program, but a static binary that can be invoked like `./cc-test-reporter` rather than `php ./cc-test-reporter`.

[2017-12-26 16:08] tarlepp commented on #281
@maxjacobson oh nice spot of that wrong command call - Will try again with fixed command.

[2017-12-26 18:01] tarlepp commented on #281
@maxjacobson and yep that was the error - thanks!

[2017-12-26 18:02] #281 closed

[2017-12-26 18:43] maxjacobson commented on #281
Sweet, glad to be of help. Happy new year

[2017-12-30 04:33] kbrandwijk commented on #261
I also noticed the missing branch information. This is currently forcing us to use another platform, which is not what we want... I hope there will be an update soon!

[2018-01-04 16:16] wfleming commented on #280
Hi @flegall,

Apologies for the delayed reply, I was away for the holidays & am still catching up on some things.

Each formatter looks in a hard-coded path for the coverage information, and the `lcov` formatter expects to find the coverage at `coverage/lcov.info`. In your case it seems like the simplest thing to do might be to just `cd js-given` before running `cc-test-reporter after-build`. If y

[2018-01-08 21:34] wfleming commented on #264
@granth we released version 0.4.1 with some performance improvements we were able to identify to the lcov formatter. If you're using our recommended docs to download the client in your CI you should get this latest version automatically. Please let me know if you're still seeing unacceptably slow performance.

[2018-01-08 21:50] granth commented on #264
🎉 📉 huge difference! `format-coverage` now takes 2 s.

Thanks!

[2018-01-09 16:14] zubri commented on #259
Same problem here with a Gradle project at Jenkins. Solved it with this other workaround:

It would be nice to have the format-coverage and upload-coverage documented in the help, along with the prefix option fixed.

PD: Does anyone know what's the purpose of the before-build command?

[2018-01-09 17:00] wfleming commented on #264
Glad to hear it! I'm always happy when I can measure performance improvements in orders of magnitude 😄. I'm going to close this issue now since I think your issue is resolved, please let me know if that's not correct.

[2018-01-09 17:00] #264 closed

[2018-01-11 13:04] rhwood opened #287 "prefix appears to be mangled"
Running the cc-test-reporter on Travis CI, it appears that a trailing `\n` is added to the prefix that should not be.

In the case below, the project is at `/home/travis/build/rhwood/jsplitbutton` and the sources in the project are in `src/main/java` (so it possible I have the prefix wrong, but I definitely am not adding the trailing `\n` myself.

[code]

[2018-01-11 22:45] wfleming commented on #287
I believe what this is just a simple bug in the logging: [these messages](https://github.com/codeclimate/test-reporter/blob/master/formatters/source_file.go#L86) are the only logging messages that actually include a "\n" in the formatting string, so I believe that whitespace characters are being escaped by the log formatter and printing the `\n`. I'll correct that format string shortly: the actual

[2018-01-12 00:50] rhwood commented on #287
Thank you. So the original reported problem isn't a problem.

The jacoco report lists the files as (this is a manually formatted beginning of the jacoco report):
[code]

Running cc-test-reporter without the prefix yields:
[code]

[2018-01-12 15:52] wfleming commented on #287
Thanks for the details @rhwood, apologies that my assumptions about the paths in the report were incorrect. My colleague @ale7714, who's more familiar with some of our test reporter behavior than I am, pointed out to me that this looks like behavior other jacoco users have encountered: there's discussion around that in #243, and a some workarounds, including [a gradle task that would hopefully be

[2018-01-14 20:06] nzin commented on #282
I found the @pkopac : when you run `gocov test` (from https://github.com/axw/gocov): gocov test [args...] will run go test [args...] with an implicit -coverprofile added, and then output the result of gocov convert with the profile.

The solution?
`gocov test ./... -coverprofile=c.out`

[2018-01-14 20:15] nzin commented on #282
well I managed to make it working once, but not anymore. still investigating on my side... but this is a output format for sure

[2018-01-14 21:55] pkopac commented on #282
@nzin: thanks for the reply, but the problem isn't in the gocov itself. It's in this app, the file seems to be whole on one line and the app tries to load the whole one line - into a too small buffer, I think.

[2018-01-14 22:58] ale7714 commented on #282
@pkopac 👋  sorry for the late reply. Could share with us your `c.out` file? If you don't want to share it over here, you could also send it over our support form in https://codeclimate.com/help.

Also @nzin feel free to share the issue are you encountering with us either over here or directly with support.

Hope we can get things working soon 😃

[2018-01-15 00:51] nzin commented on #282
Hi,
Yes I have the exact same problem than @pkopac
ie I try to run `gocov test ./... > c.out` on my (public) repo https://github.com/nzin/dctycoon.
The thing is, gocov create a file in json format. And `cc-test-reporter` is expecting a *non* json format (I think), more like what `go test . -coverprofile=c.out` outputs.

[2018-01-15 00:58] nzin commented on #282
I guess we have to follow this code snippet (see https://stackoverflow.com/questions/45776043/codeclimate-test-coverage-formatter-for-golang#45776499):
[code]

[2018-01-15 08:48] pkopac commented on #282
@ale7714: no problem. You can generate it using the commands I've sent and the library I mentioned:
https://github.com/chartmogul/chartmogul-go

@nzin: Thank you! This works reliably. It seems like they can parse that format without a problem.

[2018-01-16 14:46] ale7714 commented on #282
@nzin thanks for pointing out a solution!
@pkopac  The `test-reporter` parses the `c.out` format and then uploads that to Code Climate.

How do you feel about adding an example to the repo, similar to this https://github.com/codeclimate/test-reporter/blob/master/examples/python_examples.md#example-1?

I think having a working example would be useful for other users.

[2018-01-16 14:55] ale7714 commented on #282
Actually, a PR was open by @bbqtd with a working example 🎉  https://github.com/codeclimate/test-reporter/pull/283. Worth also taking a look at! :)

[2018-01-16 15:19] nzin commented on #282
I check the PR, I didn't know we can do the way around aka
`go test -coverprofile c.out ./...`
Looks interesting!

[2018-01-16 23:16] nzin commented on #282
I commented the #283 PR, I think the solution he proposes is not working all the time. i.e. the one suggested above is IMHO working better.

[2018-01-17 14:17] ale7714 commented on #282
@nzin @pkopac I'm gonna go ahead and close this issue since we have a couple of solutions. But leave a comment if we need to re-open it. Also if you think is worth adding [this solution](https://github.com/codeclimate/test-reporter/issues/282#issuecomment-357558280) as an example, feel free to open a PR. I personally think that having mutiple solutions is always valuable.

[2018-01-17 14:17] #282 closed

[2018-01-30 18:57] jdel opened #292 "golang + travis code coverage setup"
After a couple hours spent struggling with the not-so-uo-to-date documentation, I'd like to share the config that works for me.

[code]

I am happy to submit a PR to update documentation is somebody points me to the files to update.

[2018-01-31 23:36] davehenton commented on #292
Hey @jdel, thanks so much for the info here. I've opened up a PR to add your script to our examples [here](https://github.com/codeclimate/test-reporter/pull/293). You mentioned some out-of-date documentation -- did you have trouble getting the other [Go examples](https://github.com/codeclimate/test-reporter/blob/master/examples/go_examples.md) to work? Or was there something else you found out of

[2018-02-01 00:34] jdel commented on #292
Hi @davehenton,

I must say I didn't see the examples you mention, they would have helped a lot.

I will detail the steps I followed. I started with the documentation here: https://docs.codeclimate.com/docs/configuring-test-coverage

It mentions the tool `gocov`, which I immediately downloaded and ran successfully locally as [the very end of that documentation suggests](https://docs.codeclimate.co

[2018-02-03 05:58] jennydaman opened #294 "Missing coverage with nyc (JavaScript)"
I'm new to JS testing, and I'm trying to configure code coverage for my project. I'm using babel, mocha, nyc (and Travis).

For demonstration, I have a very basic JavaScript function here: https://github.com/jennydaman/mindmatter/blob/master/extension/js/lib/testTest.js
And a test here: https://github.com/jennydaman/mindmatter/blob/master/test/toggle.test.js

mocha test is successful, nyc generate

[2018-02-05 17:07] aneilbaboo opened #295 "Error: could not find coverage info for source files (using nyc, clover, circleci)"
On CircleCI, after producing clover.xml using nyc, I get "Error: could not find coverage info for source files".  This is similar to https://github.com/codeclimate/test-reporter/issues/259, but none of the fixes mentioned there work for me.

I ssh'ed into CircleCI and verified that my test script (using nyc) is producing `coverage/clover.xml`, which seems to have valid contents (I can post, if tha

[2018-02-05 17:21] ale7714 commented on #294
👋  @jennydaman! Thank you for using the `test-reporter`. I'm sorry you're encountering issues. Happy to help out and get you up and running.

Looking at your Travis file, I noticed that you were using the `--prefix` flag on `after-build` but I don't think that was pointing to root directory where the tests ran. I opened a [PR](https://github.com/jennydaman/mindmatter/pull/14) that removes the use

[2018-02-05 18:27] jennydaman commented on #294
I'm on my phone, merged hoping for the best... Fixed! Thanks so much for being friendly, guess I just didn't understand the doc.

[2018-02-05 18:33] #294 closed

[2018-02-05 18:35] ale7714 commented on #294
@jennydaman any suggestions you might have for our docs feel free to share them with us. We're always looking to improve our docs.

[2018-02-07 17:18] berfarah commented on #292
Hi!

I just wanted to add to the discussion as well, since I'm kind of in the same boat. Trying to get test coverage working yesterday took me down a 2+ hour rabbit hole until I found the examples in this repo - which were super helpful!

Is there any chance those could be linked to directly from the docs? That would have saved me a lot of time.

[2018-02-07 21:02] davehenton commented on #292
Hey @jdel and @berfarah

I've updated our man pages [here](https://github.com/codeclimate/test-reporter/blob/master/man/cc-test-reporter-format-coverage.1.md#coverout-go) to reflect the correct `go test -coverprofile=c.out` command.

Additionally, I've added this new [Example 3](https://github.com/codeclimate/test-reporter/blob/master/examples/go_examples.md#example-3) to our [Go examples director

[2018-02-07 21:50] wbhob commented on #295
I, too, need help setting up CC test coverage with Travis and NodeJS.

[2018-02-07 22:14] davehenton commented on #295
Hey @aneilbaboo and @wbhob. To help troubleshoot, could you each open up a support ticket [here](https://codeclimate.com/help). In the ticket, can you please include:

- Repo name
- If you use single, parallel or multi-suite builds
- A copy of your CI configuration file
- Output from your CI when using the --debug flag in your CI configuration
- Any relevant screenshots of your setup

If you're ru

[2018-02-07 23:27] wbhob commented on #295
I just saw this but sent a support request. Can you just shoot me an empty response so I can offer the information I missed?
Thanks!

[2018-02-08 01:56] aneilbaboo commented on #295
Thanks, @davehenton - I just created a ticket.

[2018-02-08 14:35] jdel commented on #292
Thanks. I have just submitted #297 to fix a few mistakes I discovered later.

Is there any reason why the examples all mention `gocov` ?

This is very misleading as `gocov` is not used at all.

The profile is technically generated with `go test -coverprofile c.out`

Then when `test-reporter after-build` is called it will [implicitly run](https://github.com/codeclimate/test-reporter/blob/07c806d745

[2018-02-09 07:30] sayanee opened #299 "golang + jenkins + cover setup"
I have been trying to setup codeclimate with golang and `Jenkinsfile`, but was unable to find any examples.

I have referred to these resources already:

- [Configuring Test Coverage](https://docs.codeclimate.com/docs/configuring-test-coverage#section-ci-examples)
- [Jenkins test coverage](https://docs.codeclimate.com/docs/jenkins)
- [Golang examples](https://github.com/codeclimate/test-reporter/b

[2018-02-12 16:12] davehenton commented on #299
Hey @sayanee, thanks for reaching out. To help troubleshoot, could you open up a support ticket [here](codeclimate.com/help), including the following info:

- Repo name
- If you use single, parallel or multi-suite builds
- A copy of your CI configuration file
- Output from your CI when using the `--debug` flag in your CI configuration (`after-build --debug` for single builds, `format-coverage --de

[2018-02-13 17:08] TaylorBriggs commented on #226
As far as I can tell, this setup is working on Heroku CI. We have an rspec test suite with simplecov and a mocha/chai/sinon/enzyme test suite run by karma and reporting via istanbul.

`app.json`:
[code]

`script/ci_setup`:
[code]

`script/ci`:
[code]

P.S. 👋 @dblandin

[2018-02-15 04:19] jsamr opened #301 "Error: unknown shorthand flag: 'c' in -coverprofile=c.out"
## Issue

When executing this command :
[code]

The following error is printed :
[code]

I just used the snippets provided as example here : [example/golang.md](https://github.com/codeclimate/test-reporter/blob/e12db9e4e5fa97d8c0019f2794d46aa7f6c1ca8b/examples/go_examples.md)

## Versions

- Go master version
- test-reporter versions 0.4.2 and 0.4.3 (latest)

## Travis Biild

[See this travis buil

[2018-02-15 05:44] catkins commented on #301
I'm also seeing this issue - I can't seem to find a valid value for the `-t` flag. I followed the second example, which concatenates the .out files from the different packages.

[code]

[2018-02-15 15:21] ale7714 commented on #301
@jsamr @catkins Hi! I'm sorry for the confusion just updated our examples. `-t` (`--coverage-input-type`) is use to Identify the input type (format) of the COVERAGE_FILE.  So passing `go test -coverprofile=c.out` to this flag wouldn't be correct. In the case of Go, the correct value would be `gocov`. Although. using `-t` is optional and if you're storing the result of coverage under `c.out` the `t

[2018-02-15 15:34] jsamr commented on #301
@ale7714 It works, thank you very much for your responsiveness !
Cheers,
JR

[2018-02-15 15:34] #301 closed

[2018-02-17 14:57] lapots opened #304 "no such file or directory when test reporter is run in travis"
I am trying to integrate `travis` with code climate. I have `java` project and use `jacoco` for coverage.
My `.travis.yml` looks like this and I encrypted `CC_TEST_REPORTER_ID`

    language: java
    jdk: oraclejdk8
    dist: trusty
    sudo: true
    before_script:
      - curl -L https://codeclimate.com/downloads/test-reporter/test-reporter-latest-linux-amd64 > ./cc-test-reporter
      - chmod

[2018-02-19 23:20] dblandin commented on #226
Hey @TaylorBriggs!! :wave:

I just merged and released https://github.com/codeclimate/test-reporter/pull/305 which brings in support for the environment variables currently available during Heroku CI builds.

Not all the way there yet, but at least you can remove a few of those export lines now :smile:

@joshwlewis Any update on support for the `CI_NAME` and/or `GIT_COMMITTED_AT` environment varia

[2018-02-20 08:36] mkautto opened #308 "Coverage report sent successfully, but results do not appear in CC"
I am trying to integrate Travis CI and Code Climate. We have a NodeJS application with a lcov-format coverage report. The test-reporter debug output looks ok and it says that the coverage report was uploaded successfully: [Travis build with debug output](https://travis-ci.org/codento/rytmi-api/builds/343310818)

However, the results do not show up in Code Climate. If I take a look at the test repo

[2018-02-20 20:23] efueger commented on #295
Hi @aneilbaboo  - just opened [a PR](https://github.com/aneilbaboo/markdown-components/pull/9) with a solution that should work.
- Once you've had a chance to test it, can you confirm it here? 👍

[2018-02-20 20:52] davehenton commented on #308
Hey @mkautto -- just opened up PR to your repo [here](https://github.com/codento/rytmi-api/pulls) with a solution. Once you take a look at that, can you let me know if that gets you up and running?

[2018-02-21 07:00] aneilbaboo commented on #295
@efueger - Moving the cc_test_reporter_id to the docker step was the key. I had tried the other changes before that, but that was the missing piece. Thanks so much.

[2018-02-21 07:00] #295 closed

[2018-02-21 09:41] mkautto commented on #308
Hello @davehenton, the PR fixed the problem for us. Thank you very much!

[2018-02-21 09:41] #308 closed

[2018-02-21 17:44] TaylorBriggs commented on #226
Thanks @dblandin!

[2018-02-21 17:52] dblandin commented on #237
Going to go ahead and close this issue. Let us know if this is not resolved!

[2018-02-21 17:52] #237 closed

[2018-02-26 05:29] danidee10 commented on #292
I'm still getting errors when i try to specify `--coverage-input-type gocov`

`msg="could not find coverage file \ncould not find any files in search paths for gocov. search paths were: , c.out" `

if i omit `--coverage-input-type` like the examples say, I still get an error about `test-reporter` not finding any suitable formatter.

[2018-02-27 02:26] severedsea opened #312 "gocov + Jenkins setup: no such file or directory"
Just want to share my experience of setting up code climate test reporter with golang on Jenkins.

Following this [example](https://github.com/codeclimate/test-reporter/blob/master/examples/go_examples.md#example-2):
1. Downloaded `cc-test-reporter` into the project root (i.e. GOPATH/src/github/org/project)
2. Executed `go test -coverprofile` and generated `c.out` on project root
3. Executed `./cc

[2018-02-28 03:42] jcrevits commented on #304
Getting a similar error with Travis + Python:
`time="2018-02-28T03:33:53Z" level=error msg="failed to read file lib.py\nopen lib.py: no such file or directory"
Error: open lib.py: no such file or directory`
If I had to hazard a guess it looks like it tries to open my `lib` directory as `lib.py` file 🤔

[2018-03-02 00:42] bmulholland commented on #260
The CircleCI 2.0 multiple suite example doesn't even use it: https://github.com/codeclimate/test-reporter/blob/master/examples/multiple_suites.md

Maybe because it literally does nothing: https://github.com/codeclimate/test-reporter/blob/master/cmd/before-build.go#L11

[2018-03-02 00:56] maxjacobson commented on #260
:wave: how's it going?

I work at Code Climate, and I also did not know why we have that :sweat_smile:. Clicking through from that file, to the PR that added it, to [the issue that requested it](https://github.com/codeclimate/test-reporter/issues/59#issue-216059741), it seems the answer is: you're right, and right now it does nothing, but in a later version of the test-reporter, it may do somethin

[2018-03-02 18:49] bmulholland opened #313 "Support prefix of "./""
simplecov-lcov is an lcov formatter for simplecov that includes "./" in its standard path output (https://github.com/fortissimo1997/simplecov-lcov/blob/master/lib/simplecov-lcov.rb#L85).

The commit adding that prefix states it was done to match other formatters: https://github.com/fortissimo1997/simplecov-lcov/commit/bfbbaf8736bdb5caae6e71c98ad2baa8840c49ca.

We didn't have this issue before beca

[2018-03-02 18:57] #260 closed

[2018-03-02 21:18] davehenton commented on #304
Hey @lapots , sorry for the delay with getting to this. I've forked a copy of your repo, and I'm currently taking a look at your setup. I'll get back to as soon as I have an update on that.

@jcrevits , do you mind opening up a ticket at https://codeclimate.com/help ?

To help troubleshoot, please include in the ticket:

Please Include:

- Repo name
- CI name
- If you use single, parallel or multi

[2018-03-02 23:31] bmulholland opened #314 "Cannot unmarshal number"
To work around the issue in #313, I'm trying to use a JSON formatter instead. It's not entirely clear what "SimpleCov" means in terms of file format, but from the examples in this project I'm assuming that means SimpleCov JSON. Thus I've switched from Lcov formatter to JSON formatter, specifically https://github.com/vicentllongo/simplecov-json

The input file is valid JSON (I checked) but calling

[2018-03-04 08:23] stefanahman commented on #228
Based on: https://semaphoreci.com/docs/failed-build-reported-as-passed.html

This should work: `./cc-test-reporter after-build --exit-code $?`

[2018-03-05 16:19] ale7714 commented on #313
@bmulholland 👋, thank for using the `test-reporter` and sorry for the issues you're encountering. I'll try to get you up and running ASAP.

The `test-reporter` offers the capability to use the flag `--prefix` to be able to trim part of the file path. You can add to the command `format-coverage` or `after-build` the flag `--prefix ./`.  Can you let us know how it goes after trying that?

Also, I'm

[2018-03-05 16:19] #314 closed

[2018-03-05 17:40] bmulholland commented on #314
Hi @ale7714, This is a workaround for my project, but isn't it still a bug in test-reporter? It's not using any workaround on test-reporter, simply attempting to parse Simplecov coverage files.

[2018-03-05 18:32] ale7714 commented on #314
@bmulholland Hi, I don't think is a bug on the `test-reporter`. We format directly the output from the [simplecov gem](https://github.com/colszowka/simplecov) (specifically the `.resulset.json` file).

You can read more about supported formats on our doc page: https://docs.codeclimate.com/docs/configuring-test-coverage#section-supported-languages-and-formats

Let me know if you have any further qu

[2018-03-05 18:37] bmulholland commented on #314
@ale7714 Hmm - I've read that document, and I see that it uses SimpleCov, but I don't see how to configure SimpleCov and the test reporter. Is there an example of how to set it up?

As I mentioned in the above issue, I couldn't figure that out. I dug in, found https://github.com/codeclimate/test-reporter/blob/master/formatters/simplecov/simplecov-example.json, and assumed that meant that I needed

[2018-03-05 18:53] ale7714 commented on #314
@bmulholland
High level overview you would setup your coverage tool (in your case simplecov) as you normally do. On your CI and after running your test, you will the `test-reporter` to format and upload. Here's a very general example:
[code]

There are couple of examples under https://github.com/codeclimate/test-reporter/tree/master/examples.

[2018-03-05 19:14] bmulholland commented on #314
@ale7714 I've read all the documentation and examples available. Here's the questions I still have:
Do I need to use a SimpleCov formatter? Does SimpleCov always output the format that cc-test-reporter expects?
What path(s) do I pass when calling format-coverage?

[2018-03-05 19:20] ale7714 commented on #314
@bmulholland

No, using simplecov is be enough.

Yes, the `test-reporter` parses the data on the `.resulset.json` file which is generated on every execution.

If you're not setting up Simplecov to output on a different location than the default one, the `test-reporter` should be able to find the file, which by default is `coverage/.resulset.json`.

[2018-03-05 19:23] bmulholland commented on #314
Much more clear! This means I can remove an extra formatter :). Thank you very much!

As a suggestion, perhaps the documentation could be expanded to explain that the SimpleCov input uses that resultset.json file? We have three test suites so we do customize the coverage directory.

[2018-03-05 19:32] ale7714 commented on #314
@bmulholland thank you! Definitely, I'll pass along your suggestion to the team.

About the other issue #313, is it still a problem? Can we close it?

[2018-03-05 19:36] bmulholland commented on #314
@ale7714 I've got a build running to test your suggestion on #313. That said, I'd consider the --prefix solution to be a workaround since the prefix seems to be a standard output that was previously supported. I can imagine that a true fix in this test-reporter could avoid a lot of pain for people switching over!

[2018-03-05 20:21] bmulholland commented on #313
Using `--prefix "./"` seems to have worked! Or at least, it doesn't generate any errors submitting to CC. How can I verify in CC or my GitHub PR that the coverage is working?

[2018-03-05 21:12] ale7714 commented on #313
@bmulholland  do you use the [Code Climate browser extension](https://codeclimate.com/browser-extension/)? You should be able to see coverage overlay on your PR or browsing the branch.

[2018-03-06 00:31] juliancoleman commented on #228
@stefanahman this issue has been closed for months...

[2018-03-06 02:29] bmulholland commented on #313
@ale7714 Thank you! I've fully confirmed that the `--prefix` workaround successfully submits test coverage.

[2018-03-06 05:54] stefanahman commented on #228
I know. Just wanted to share my findings about "$?" variable instead on defining your own "exitcode" (as seen in the picture).

[2018-03-06 23:44] flemay commented on #292
Same as @danidee10  :(

[2018-03-07 10:58] danidee10 commented on #292
Hi, @flemay I've been able to solve the issue, I realized that `Go` wasn't generating the `c.out` file locally (I just assumed that it would generate it no matter what).

Before I fixed the error, this is how I ran `go test`

`go test github.com/danidee10/mypackage`

To actually generate the `c.out` file I had to change it to:

`go test ./mypackage`

Bottom line: Make sure the `c.out` file is gene

[2018-03-07 22:57] flemay commented on #292
Thanks @danidee10! Realised I wasn't using docker properly hehe :)

[2018-03-08 02:35] flemay commented on #292
@danidee10 the `c.out` contains lines similar to `github.com/account/project/package/file.go:71.2,71.26 1 1`. However when I execute cc-test-reporter then I get `Error: open github.com/account/project/package/file.go: no such file or directory` 🤔

[2018-03-09 12:57] redbugz opened #316 "Allow configurable coverage directory"
It appears that currently, at least for istanbul/nyc/lcov, that it is hardcoded to expect the files to be at ./coverage/lcov.info

We have overridden this location using nyc configuration to output to a different directory to consolidate several of our reports. In our case, we output our coverage information in ./reports/coverage/lcov.info

Please allow a way to override the default hardcoded loca

[2018-03-10 02:39] yurifds commented on #304
Same problem here and I'm also using Travis, Code Climate, and Jacoco.

[2018-03-14 05:50] rucindrea commented on #259
I have the same problem using a java project. I tried the workaround from @pomle bu I am still stuck:

When I run the test reported from within my `./src/main/java` folder,  `cc-test-reporter` complains that it doesn't find the `/MyJavaClass.java` file. So it seems it's using the  `/` prefix for the source files, and I cannot change that with the `-p` flag

[2018-03-14 17:36] davehenton commented on #304
Hey @yurifds , do you mind opening a ticket at https://codeclimate.com/help? With that, please include:

- Repo name
- If you use single, parallel or multi-suite builds
- A copy of your CI configuration file
- Output from your CI when using the --debug flag in your CI configuration
- Any relevant screenshots of your setup

I'll keep an eye out, and get back to you as soon as I have a chance to loo

[2018-03-14 21:05] bmulholland opened #317 "Auto-detect number of parts"
We have one part per test suite per container, currently adding up to 12 parts. If any of those parts doesn't get to the end of the build for any reason, the test reporter crashes because the number of parts was set wrong. This gives a false impression of why the build failed (because of codeclimate instead of the original issue). If the reporter could just count how many files apply, then there w

[2018-03-19 16:43] toddmazierski commented on #259
Hi all,

We've released version [v0.5.1](https://github.com/codeclimate/test-reporter/blob/master/CHANGELOG.md#v051-2018-03-19) of the Test Reporter, which includes a fix for this bug. It's similar to the workarounds shared by @pomle and @magneticflux (thank you), but without having to manually move files around.

## Usage

Instead of `after-build`, please use these two sub-commands:

1. `format-c

[2018-03-20 03:42] monfresh commented on #190
@dblandin I'm running into the same issue. The last doc you pointed to doesn't mention parallelism. It would be great if you could add docs for parallelism and Circle CI 2.0. The closest I was able to get was using this script: https://gist.github.com/leemachin/1aeb217d989f3981cc3f06d88938bd33
which worked for total coverage, but the diff coverage doesn't seem to be right in GitHub. It says 33% (8

[2018-03-20 08:47] rucindrea commented on #259
This fix worked for me, thanks a lot for the help! I'm now able to upload the Jacoco coverage files with no issues.

[2018-03-20 16:54] efueger commented on #259
Great! Thanks for the confirmation @rucindrea. I'll go ahead and close this out.

- For anyone else who ran into this (@ham1 @zubri @magneticflux- @pomle)
- let us know if you have any trouble using the new sub-commands.

Thanks again for your help getting to the bottom of this. 👌

---

PS: @zubri - here's more info about [`before-build`](https://github.com/codeclimate/test-reporter/issues/260#iss

[2018-03-20 16:54] #259 closed

[2018-03-20 21:33] davehenton commented on #316
Hey @redbugz, sorry about the delay in getting back to you on this. You should be able to your our [low-level commands](https://github.com/codeclimate/test-reporter/blob/master/man/cc-test-reporter-format-coverage.1.md#options) in order to specify a location where your coverage info is located.

Let me know if you have any questions about that, or if that isn't quite what you're looking for.

[2018-03-21 16:53] foulkesjohn opened #320 "cobertura report Index out of range"
I have a cobertura coverage file which is crashing because of the following class:

I'm running `format-coverage -t cobertura -d ./cobertura.xml`

[code]

Stacktrace:

[code]

This is probably bad data generated from slather but causes the crash non the less. If I manually remove all the number=0 lines then it works.

[2018-03-22 22:27] magno32 commented on #259
How does this fix help with multi module builds?

[2018-03-26 23:47] eddieduro opened #321 "Keep getting file not found error trying to run after-build in CircleCI.."
Generating coverage via jest for a create-react-app.
Inside my config.yml
[code]
Output:
[code]

I have tried specifying prefixes.. attempted going to the lower levels using format / upload everything seems to be throwing an error.. Any ideas?

[2018-03-27 19:58] efueger commented on #321
Hi @eddieduro - Happy to help with this.

Do you mind providing a few extra details? You can do that here, or open up a ticket with these at [https://codeclimate.com/help](https://codeclimate.com/help/new).

Please include:
- Repo name
- CI name
- If you use single, parallel or multi-suite builds
- A copy of your CI configuration file
- Any relevant screenshots of your setup

We'll take a look at

[2018-03-29 04:58] perrosen commented on #227
Awesome. Just what i was looking for. Thanks!

This would be great to have better documentation around since the use case of test output being in another folder than root must be quite common. Had to find this solution by going through the github issues.

[2018-03-30 20:12] awentzel opened #322 "Add example for Node"
Would like to see an example for Node on Travis CI.

[2018-03-31 18:53] awentzel opened #324 "Question: Guidance on using Lerna repositories, Travis CI, and Node"
I'm having trouble finding documentation on how to configure Code Climate using Travis CI so that is will pick up the code coverage files.  Currently, my Lerna repository has a bunch of `/packages/*`.  My `codeclimate.yml` file is in the root.  Each package is using jest with code coverage turned on and configured.

What's the best way to set this up so code climate can get my coverage files?  I h

[2018-04-01 23:12] guillaume-chevalier opened #325 "Missing java example here: https://github.com/codeclimate/test-reporter/tree/master/examples"
https://github.com/codeclimate/test-reporter/tree/master/examples

[2018-04-02 14:25] wilson commented on #325
Hi there; before I put something together for the `examples` directory; is this a helpful example?
https://github.com/Frameworkium/frameworkium-core/blob/master/.travis.yml

If so, I'll adapt it + add some commentary.

[2018-04-02 15:42] awentzel commented on #325
I'm not involved in Java, but, i love the extra detail added in your `.travis.yml` example.  It's very useful to see how to hook in with Selenium etc, and see more complex examples.  Love to see this type of example for Node/JavaScript as well.

[2018-04-03 08:54] guillaume-chevalier commented on #325
@wilson Nice comments in your `.yml`, this helps to know what we're doing on each line.

However, what I would have liked to see earlier was the simplest possible example instead of reading more complicated things. Finally, I ended up reading other examples to generalize properly, so on my side, it'as a solved issue. At least, it wasn't too hard in the end.

One thing that would help are examples

[2018-04-03 15:45] wilson commented on #325
Thanks for the feedback; I'll work on putting together both a "simple" and a "full-featured" example, and report back when I can.

[2018-04-06 18:26] awentzel commented on #324
Is it possible to take look at this and provide guidance?  We're blocked until we figure this part out.  Thanks

[2018-04-06 18:35] davehenton commented on #324
Hey @awentzel , sorry about the delay in getting to this. Happy to help. Though we don't have any documentation for setting up test reporting with Lerna repos, I'll be happy to take a closer look. Do you mind writing into [support](https://codeclimate.com/help) with the following info:

- Repo name
- CI name
- If you use single, parallel or multi-suite builds
- A copy of your CI configuration file

[2018-04-09 18:02] davehenton commented on #321
Solved via email.

[2018-04-09 18:02] #321 closed

[2018-04-09 23:41] ecsunder15 opened #326 "ES6 Javascript Project + Travis not generating code coverage."
I currently have a project that is an ES6 javascript project that has local coverage with `babel-plugin-istanbul` and `karma-coverage` working and generating an lcov format report on the top level directory. The `npm test` command generates the lcov coverage report. After running the build on Travis with exit code 0, I get the error, "could not find any viable formatter. available formatters: simp

[2018-04-10 06:48] awentzel commented on #324
Hi @davehenton, i just noticed your reply.  I will send in the information you requested first thing tomorrow.  Thanks for your help

[2018-04-10 17:05] ecsunder15 commented on #326
I ran the build in `-debug` this morning, and found that there was a section of my code that had specific reporters for a travis environment. Added the `coverage/` directory there and the CC data was sent over fine. In the future, I would note that if there are any travis-specific instructions or configs outside of travis.yml, they need to include the coverage reporter.

[code]

[2018-04-10 17:05] #326 closed

[2018-04-10 20:44] awentzel commented on #324
Ticket submitted.  I may keep this open until I hear back so I can share the solution to my problem with the community.

[2018-04-11 17:58] amadeu01 commented on #322
@awentzel I created a file as I did on my repository for example. I hope it helps you.

[2018-04-15 19:02] pbrisbin opened #328 "Is the gcov formatter broken?"
I was considering supporting coverage reporting for Haskell by first pre-processing its native tix format to gcov, then using `cc-test-reporter` normally. To understand what I'd need to do, I looked at your gcov parser, it seems broken:

https://github.com/codeclimate/test-reporter/blob/master/formatters/gcov/gcov_test.go#L26

If I'm reading this correctly, it uses the gcov file name as the Source

[2018-04-15 19:16] pbrisbin opened #329 "Calculable fields should be server-side calculated"
:wave: hey CC, how're things!

I'm writing a [parser-formatter][1] that takes coverage information about Haskell
tests in its native format and outputs it as the JSON payload expected by
cc-test-reporter.

[1]: https://github.com/pbrisbin/hs-cc-coverage

I'm working against your [`schema.json`][2], and I'm specifically only including
data marked as required in said schema:

- Git information:
  -

[2018-04-17 16:39] wilson commented on #328
Thanks, this does look like a bug we'll need to address.

[2018-04-17 16:53] ale7714 commented on #329
👋 @pbrisbin great suggestions, thank you! We are planning to update our server-side process to reduce some of the redundant information that's currently required. But in the meantime, I'll follow up this comment by updating the `schema.json` file to reduce confusion.

[2018-04-18 15:38] antoniosb commented on #132
If you're using AWS S3 to store partial coverages, you can check on both pipelines if all necessary coverage parts are present, before trying to sum it up.

something like:

[code]

[2018-04-18 15:58] DannyBen commented on #246
Hey guys,

Following a request from Emily @ CodeClimate, I am posting here another example of this failure, if it helps to bring this issue back to the radar, since I am a bit OCD when it comes to my test coverage being at 100%...

- The repo in question is [loadrunner](https://github.com/dannyben/loadrunner#loadrunner---github-webhook-server-and-event-simulator)
- The coverage is 100% in developm

[2018-04-19 00:52] bmulholland commented on #317
This actually just broke our build. I'm not sure of the details, but short version is that CircleCI retries nodes if there was a problem with them. In this case CircleCI rebuilt one of the nodes, apparently after it had submitted the results, and that meant that there were 15 (3 test suites x 5 containers) instead of 12 (3 x 4) that was expected.

From what I see in the source, the only place the

[2018-04-19 03:52] flemay commented on #312
Thanks @severedsea! I had the same problem until you pointed out the `--prefix`.

A question, do you have a loop to test all your packages and append the coverage result to a file? And then did you need to remove all the rows with "mode: set" lines?

[2018-04-19 11:16] severedsea commented on #312
Using Go 1.10, you can output coverage result even if you’re testing multiple packages like so:
[code]

[2018-04-19 13:59] larkinscott commented on #317
Hey @bmulholland 👋. I'm sorry this broke your build! Let me dig into this a little deeper and see what I can find out.

[2018-04-30 15:37] zafarabbas opened #330 "diff-coverage does not work if latest commit does not have coverage data"
(posting issue here as requested by codeclimate support)

We have an issue that we need help with resolving.

- Our repository (juulio) has a master branch, developers work in sub branches and merge their changes as PRs.
- We would like codeclimate/diff-coverage to be a Required status check for all PRs before they merge.
- Currently since the diff-coverage status check depends on the coverage dat

[2018-04-30 20:57] bushidocodes opened #331 "format-coverage fails on 'failed to read file file.js'"
Team Code Climate:

I've recently had some trouble getting my test reports uploaded for a new project.

I'm running the latest version of the reporter:
[code]

and this is what I see when I interactively re-run the command in my config:
[code]

Here is the command running without a target input or type. It looks like it infers things properly since my LCOV report is in the expected place, but it e

[2018-05-01 18:00] larkinscott commented on #317
Hey @bmulholland. Sorry for the delay in getting back to you! Would you be able to provide a little more information about how you're writing the partial test results and what filenames they end up in? Are you using the index/name of the container in some way?

[2018-05-01 19:41] treycaliva opened #332 "Getting file not found error on after-build in CircleCI"
CircleCI config.yml

[code]

Output:

[code]

Tried adding prefix, using format and upload, but still throws the error.

[2018-05-01 19:55] wilson commented on #332
Is that the output you get on CircleCI, or when you run the `cc-test-reporter` command locally?

Is there any chance you could share your simplecov/minitest setup, as well as `coverage/.resultset.json`. You can email Code Climate support if you don't feel comfortable sharing any of that in public.

One possibility is that you have some coverage artifacts checked-in to version control; could you do

[2018-05-01 20:06] treycaliva commented on #332
Yup, there were some coverage artifacts checked-in.

Thank you!

Trey Caliva | Director of Technology
Director's Choice Tour & Travel
10701 Upland Avenue | Lubbock, Texas 79424
Direct: 806.762.6354 | Fax: 806.763.7637
trey@directorschoice.travel | www.directorschoice.travel

On Tue, May 1, 2018 at 2:55 PM Wilson Bilkovich <notifications@github.com>
wrote:

--
Connect with us: Facebook
<https://www

[2018-05-02 13:45] ale7714 commented on #330
@zafarabbas 👋thank you for your feedback! Currently, we don't support this but we have on our roadmap plans to improve this experience. I'll post back when I have more news.

[2018-05-02 16:56] chrisbutler opened #333 "why is it trying to load html files?"
I've been banging my head against a wall trying to understand this output from the `cc-test-reporter` binary:

`/bin/cc-test-reporter format-coverage -t simplecov -o coverage/codeclimate.cucumber.json $CIRCLE_ARTIFACTS/coverage/cucumber/.resultset.json`

[code]

It seems like it's trying to load the `index.html` (also generated from simplecov) file in the `coverage/` directory... not sure how that

[2018-05-02 17:28] chrisbutler commented on #333
followup, i've ensured that simplecov isn't generating any html and i'm still getting the same errors. this is on circle-ci, cache disabled

[2018-05-02 17:50] chrisbutler commented on #333
second followup... attempting to debug and setting `-d` or `--debug` and suddenly there are no errors? what is going on?!?!?

[2018-05-02 19:35] chrisbutler commented on #333
seems like you're right about it receiving an html response from the api:

[code]

[2018-05-02 20:31] maxjacobson commented on #333
Aha, great catch.

Re your suggestion: hmm, in that case, what would get written to the file instead of the HTML? I'm concerned it would still write the file, make it executable, and then try to execute it, and you would get another error. Does that make sense?

[2018-05-02 20:39] chrisbutler commented on #333
it should just fail to write anything in this case, so the docker build step would fail

[2018-05-02 21:07] maxjacobson commented on #333
Ah. We generally recommend people add an `|| true` to these lines, because it can be frustrating for a temporary CC outage to lead to a failing build. If you're comfortable with that (and we certainly will do our best to avoid/minimize outages!) then that sounds like a good approach! I'm going to go ahead and close this now since your sleuthing has gotten to the bottom of it :mag:

[2018-05-02 21:07] #333 closed

[2018-05-03 19:34] #332 closed

[2018-05-04 14:45] bushidocodes commented on #331
Team Code Climate: it's a friday miracle. Yesterday, I refactored various parts of my build process, and today, I decided to attempt to upload my code coverage reports, and hip-hip-huzzah it worked! I am befuddled as to what the issue was, but I'm sure it was on my end and pleased to see my 85% score reflected on the dash.

[2018-05-04 14:45] #331 closed

[2018-05-04 14:55] prnewman commented on #320
I can confirm what @foulkesjohn said. The error occurs if there's a line number="0" in cobertura.xml:

[code]

Another workaround is to use `--debug` to locate that file and ignore it in .slather.yml

[2018-05-04 15:12] maxjacobson commented on #331
@bushidocodes Awesome to hear it Sean! Not sure what was going on there, but glad it's resolved now :tada: :taco:

[2018-05-07 09:07] mhulet opened #334 "Missing coverage on CodeShip (couldn't load committed at from ENV, trying git)"
Hi there,

I did the setup on CodeShip in order to report coverage data to Code Climate. The reporter has successfully uploaded to Code Climate but coverage is missing on Code Climate.

I still have this warning message shown:
[code]

Here is the full log details for `after-build`.

<img width="423" alt="screen shot 2018-05-07 at 11 06 57" src="https://user-images.githubusercontent.com/293355/3969

[2018-05-08 19:31] davehenton commented on #334
Hey @mhulet , it looks like the `--prefix` flag is what's needed here, but this (corrected) report didn't upload because we already have a test coverage payload for commit **ebfc137f** on file. Can you try pushing a new commit to master, using the `--prefix` flag, and let me know if that resolves the issue here? If that doesn't work, please write to me over at [support](https://codeclimate.com/hel

[2018-05-08 19:42] davehenton commented on #324
Closing this one out. We were able to use the following configuration (referenced in [this issue](https://github.com/codeclimate/test-reporter/issues/263#issuecomment-346983961)) to setup test reporting with this Lerna repo.

[code]

[2018-05-08 19:42] #324 closed

[2018-05-08 19:48] davehenton commented on #299
Hey @sayanee, were you able to get this resolved? If not, please write into [support](https://codeclimate.com/help) with the information listed above, and we'll help get this sorted out. I'll close out this issue for now.

[2018-05-08 19:48] #299 closed

[2018-05-09 09:42] mhulet commented on #334
Thanks @davehenton for your reply. It works now with `cc-test-reporter after-build --exit-code $? --prefix /home/rof/src/github.com/our_github_user/our_repository_name`.

I can now see the test coverage for our repository on Code Climate.

I still see the line below with `--debug` enabled. I suppose I shouldn't worry about it.

[code]

[2018-05-09 09:43] mhulet commented on #334
I think that when I tried first with `--prefix`, I set the path to `/home/rof/code/...` instead of `/home/rof/src/...`. This is why it didn't work.

[2018-05-10 02:09] sayanee commented on #299
Thanks @davehenton! Yes I was able to solve it. For the benefit of others stumbling on similar issue, here's a sample code:

### In `Makefile`

[code]

### In `Jenkinsfile`

[code]

[2018-05-16 17:10] chrishulton commented on #320
Thanks for reporting the issue.  We have added a [fix](https://github.com/codeclimate/test-reporter/pull/335) to the test reporter to ignore the `line number="0"` lines so they will not crash the service.

It looks like the underlying issue is being worked on in Slather as well: https://github.com/SlatherOrg/slather/pull/387

Let us know if you continue to see issues after upgrading to the latest

[2018-05-18 14:39] quinn opened #337 "whats the deal with the "before-build" subcommand"
It's implementation, as far as i can tell, returns `nil`. But the docs are very insistent on it being a necessary step.

?

[2018-05-21 12:43] #328 closed

[2018-05-21 22:21] ale7714 commented on #328
@pbrisbin 👋 we just released [v0.6.0](https://github.com/codeclimate/test-reporter/blob/master/CHANGELOG.md#v060-2018-05-21) to address this issue. Let us know if you find any other issue 😄.

[2018-05-24 18:39] maxjacobson commented on #337
Hi @quinn -

Great question. I didn't know until recently: https://github.com/codeclimate/test-reporter/issues/260#issuecomment-369783913

Hope that clears it up for you. Feel free to follow up if not.

[2018-05-25 19:17] antoniosb opened #340 "missing test coverage"

[2018-05-30 18:03] stevenAtGeneralUI opened #341 "Missing Coverage with TravisCI, Jest"
I'm having trouble getting code coverage to be displayed through Code Climate.  I have used the `---debug` flag, and it appears to have successfully created and POSTed `codeclimate.json`.

I'm using Jest, which outputs lcov to `./coverage`.  From package.json:
[code]
Here is my `.travis.yml`:
[code]
The `after-build` steps reports:
```Test report uploaded successfully to Code Climate```

In Code C

[2018-05-30 18:12] stevenAtGeneralUI commented on #341
Here is some relevant info from `--debug`:
[code]

[2018-05-31 19:19] antoniosb commented on #340
@larkinscott it's been a week, have you looked into it?

[2018-05-31 21:12] antoniosb commented on #340
I've managed to solve my issue within CodeClimate support team.

[2018-05-31 21:12] #340 closed

[2018-06-01 13:05] #313 closed

[2018-06-01 13:28] tomato42 commented on #223
for `coverage.py` you need to run `coverage xml` after `coverage run`

[2018-06-01 16:13] davehenton commented on #341
Hey @stevenAtGeneralUI , sorry for the delay in getting to this. Taking a look our backend, I can confirm that we're receiving valid test payloads for your repo. However, we haven't yet received a payload from your default branch. Currently, we only display coverage info for the default branch in the UI. Coverage info for non-default branches is visible in Github by using our [browser extension](c

[2018-06-05 22:29] julianguyen opened #342 "HTTP 401: You are not authorized for this action"
Anyone know where this is coming from? I have the correct test report ID.

[code]

EDIT: In debug mode I get:
[code]

[2018-06-08 16:20] maxjacobson commented on #342
Hi Julia,

Thanks for providing the debug mode output. Hmm. I _think_ you should only see that error if we can't find the repository based on the provided test report id. Do you mind sharing a bit about your CI setup, specifically how you're setting the `CC_TEST_REPORTER_ID` environment variable?

[2018-06-11 17:09] AlexGrs commented on #342
Same issue for us.

[2018-06-12 14:23] maxjacobson commented on #342
@AlexGrs - Will you also share a  bit about your CI setup, specifically how you're setting the environment variable? I'd love to see an excerpt from your `.travis.yml` or `circle.yml`

[2018-06-15 02:02] kevinburkeomg opened #343 "Add subcommand to print rudimentary coverage statistics"
I'm trying to test whether results are being clobbered, and/or whether merge is working properly.

It would be helpful if there was a subcommand I could run that could print out rudimentary statistics about the combined code coverage file.

Alternatively, it would be good if the Code Climate website made it easy to see rudimentary information about code coverage on a branch, or on a single commit.

[2018-06-18 16:19] wilson commented on #343
Thanks for the suggestion; I'm adding this to our product tracker.

Do you have an opinion on which details make the most sense to display?

Just to make sure I understand the use-case correctly, you'd like a subcommand to run after `sum-coverage` but before `upload-coverage`, to ensure that the proper payload is about to be sent?

[2018-06-18 16:21] kevinburkeomg commented on #343
Yeah, basically. How many lines total, how many are covered, would probably suffice for now.

[2018-06-19 05:00] 2YY commented on #342
I faced same issue and my config.yml is below.
[code]

[2018-06-26 19:29] AccaliaDeElementia commented on #261
+1 to this issue as well. Code Climate is overall a great system, but without an accurate measurement of code coverage (statements and branches) we're having to use other mechanisms to report on this coverage.

It would be preferable to have all three measurements reported as part of codeclimate.

[2018-07-02 22:02] friend0 commented on #321
You're wasting people's time by not including the resolution inline

[2018-07-05 18:44] efueger commented on #342
Following up on these.
@julianguyen :
- it looks like you were getting that message when initially sending from a non-default branch
- and you now have successful payloads
-> is that correct?

@2YY :
- can you merge those changes into **master** and then let me know here? I'm interested to see if that caused the message.

[2018-07-06 03:29] 2YY commented on #342
@efueger
Thanks efueger.

I merged into master and got same error from CircleCI.

`HTTP 401: You are not authorized for this action`

The CircleCI build is here.
https://circleci.com/gh/2YY/qatool/31

I think, this problem has a concern in the CircleCI Environment.

If I config CC_TEST_REPORTER_ID by hard coding, build is pass.
https://circleci.com/gh/2YY/qatool/19

But, if I config CC_TEST_REPORT

[2018-07-06 16:10] efueger commented on #342
Thanks @2YY -

On **master**, can you:
1. remove the **hard coded** CC_TEST_REPORTER_ID env var lines in your config.yml _(lines 8 and 9)_
2. change the **var name** in your CircleCI Environmental Variable to `CC_TEST_REPORTER_ID`

Let me know how it goes!

[2018-07-06 16:56] 2YY commented on #342
@efueger
Hi efueger!

I tried that and seems like same result.

The CircleCI build is here.
https://circleci.com/gh/2YY/qatool/32

I tried below steps. Please correct me if I'm wrong.

1. Change the var name to CC_TEST_REPORTER_ID in my .circleci/config.yml
The commit is here.
https://github.com/2YY/qatool/commit/8bcfacc16a2e7e93a62494eb4a38d54edacd6eac

2. Add CircleCI environmental variable CC_T

[2018-07-06 16:59] efueger commented on #342
Almost! Can you delete the reference for the environment var in your .circleci/config.yml?
- delete lines 8 and 9

[2018-07-06 17:03] 2YY commented on #342
@efueger
Great, works perfectly!!

My problem is solved.

Thank you for your support efueger!
![2018-07-07 2 02 27](https://user-images.githubusercontent.com/4337445/42391301-e6076fc6-8189-11e8-99af-1c913caeae05.png)

[2018-07-06 17:16] #342 closed

[2018-07-14 17:02] kilianc opened #345 "First setup experience is confusing"
We're setting up our code coverage for a monorepo with multiple apps running their own test suites in parallel inside a container.

We're working on a feature branch and we have no visibility on codeclimate because nothing has been merged to develop/master yet (no code coverage on master). We can not merge our PR until we can QA and make sure everything works according to plans.

Is this a side ef

[2018-07-14 18:08] kilianc commented on #345
For example, given this data / project structure, does this look ok?

[code]

where the repo looks like:

[code]

[2018-07-17 09:49] n1mda opened #346 "could not find coverage info for source files"
I'm attempting to setup Test Coverage for multiple test suites in a React Native Application (node tests, iOS tests, Android tests).

It fails when trying to format coverage for NodeJS:

[code]

Project structure:

[code]

Node tests are inside `src/`

yarn command for tests:
`jest -u --coverage` which produces
[code]

I have tried setting different settings for `--add-prefix` and `--prefix` (What

[2018-07-18 07:31] n1mda commented on #346
This issue appears when the nodejs test suite doesn't report a single file being tested. You cannot setup `test-reporter` before you have written any tests.

With this output `test-reporter` fails to collect test coverage:
[code]

[code]

With this output `test-reporter` successfully collects test coverage:
[code]

Closing this issue.

[2018-07-18 07:31] #346 closed

[2018-07-19 18:00] madppiper opened #347 "Jacoco: no such file or directory on mult src directories"
Hey everyone,

I use ./cc-test-reporter in combination with JaCoCo and an ant script. The project features a module structure and is setup in such a way that JUnit captures during runtime. The following src directories exist:

./applications/accounting/src
./applications/cms/src
./applications/content/src
./applications/humanres/src
./applications/manufacturing/src
./applications/marketing/src
./a

[2018-07-31 21:34] ale7714 commented on #347
Hi @madppiper, thank you for using the `test-reporter`. We just release a [new version](https://github.com/codeclimate/test-reporter/blob/master/CHANGELOG.md#v062-2018-07-31) of the test-reporter to address this.

You can set multiple source paths by including them separated by white space. For example, `JACOCO_SOURCE_PATH="app1/main app2/main"`.

Thanks to @atoulme for the [contribution](https://

[2018-07-31 21:34] #347 closed

[2018-08-01 09:29] madppiper commented on #347
You guys are fantastic. Thank you so much

[2018-08-10 18:03] efueger commented on #259
@zubri -

- Were you able to get PR coverage working with your Jenkins setup?
- If so, can you tell me how you configured your branch/pr names?

[2018-08-13 12:51] sadok-f opened #352 "Test Coverage missing after running cc-test-reporter after-build"
Hi there!

I have a Test Coverage issue for my open source repo, if you check here https://codeclimate.com/github/flyimg/flyimg
the Test Coverage is empty and not shows any numbers, this is strange since I already pushed the test coverage generated via the new tools `./cc-test-reporter after-build` you can check the command here https://github.com/flyimg/flyimg/blob/master/.travis.yml

Here the la

[2018-08-15 14:51] viralanomaly commented on #352
I'm experiencing this as well.  I can see the results of my test coverage in the Test Report, but the badge on the front page of the repo in code climate as well as in github remain blank/question mark.

[2018-08-15 21:07] wfleming commented on #352
Hi,

We very recently added more details on uploaded test reports to the Test coverage page within your Repo settings. If you navigate to the page mentioned at https://docs.codeclimate.com/docs/finding-your-test-coverage-token, you'll find a list of recently uploaded reports, along with error details for cases where the report was determined to be invalid. There is processing done to the to the te

[2018-08-15 21:13] viralanomaly commented on #352
I expect mine to have similar problems to what you were just discussing.  I'm brand new to all of this.  My repo is private - if I give you the link to it in codeclimate, is that sufficient for you to identify it and see what is going on?

[2018-08-15 21:18] viralanomaly commented on #352
Or I forgot to actually trigger the build on my default branch, so there was nothing reported from it... I was the problem. :)

[2018-08-15 21:18] wfleming commented on #352
@viralanomaly you should probably contact our support via https://codeclimate.com/help/new

[2018-08-15 21:20] wfleming commented on #352
Oh, heh, well, if that was all that was causing an issue in your case, then I'm glad that was an easy fix @viralanomaly :wink:. If you do have further problems though, I would suggest filing a ticket with our support team.

[2018-08-16 08:49] sadok-f commented on #352
Thank you @wfleming for your response, I updated my script to replace the absolute path with relative one and I moved the `cc-test-reporter` outside de docker and everything works perfectly and I got back the Test coverage badge.

Thank you again!

[2018-08-16 08:49] #352 closed

[2018-08-24 21:56] craig-davis commented on #266
Hi @chrishulton Has their been any progress on this?

[2018-08-30 17:41] george-norris-salesforce commented on #322
Yes this would be useful. The setup instructions for this are not very clear.

[2018-08-30 17:44] george-norris-salesforce opened #353 "Installation & Usage"
Would be nice if this section had a ..
Step 1: do this...
Step 2: do this...
etc.. instructions to set up.
The wording of this section does not read like a normal 'installation and usage'

[2018-09-03 01:40] kylemh opened #354 "Reporting ignores coveragePathIgnoreOptions in jest.config.js"
First strange report diff: https://codeclimate.com/github/OperationCode/front-end/compare/4677aee2951e6dcd1b8efae5ae775d1e5cf883a9...249eb370f722f3cdb96b582c91e01f5738606d75#ratings

Second strange report diff:
https://codeclimate.com/github/OperationCode/front-end/compare/4677aee2951e6dcd1b8efae5ae775d1e5cf883a9...75681a2c9043634b9e4531ccdf9737729d818922#ratings

Pull request:
https://github.com/

[2018-09-03 02:05] kylemh commented on #354
Ahh! I didn't realize that aspect of the Jest API didn't listen to glob patterns. I figured this didn't have much to do with Code Climate.

My first diff report actually does call something into question for me...

Why render it's test coverage as A when ignored? Can Code Climate consider using a different symbol to signify ignore?

[2018-09-03 02:06] kylemh commented on #354
Mmmm actually I'll write up an issue in the proper repo later.

[2018-09-03 02:06] #354 closed

[2018-09-04 22:05] wfleming commented on #334
It sounds like Michael's issue here has been resolved. I'm going to close this, but if I've misunderstood please let me know.

[2018-09-04 22:34] wfleming commented on #246
I'm marking this as help wanted. Simplecov has made it clear they don't intend to stabilize on a file format that includes this information and can be used by external tools, and their expectation is that any tools integrating with Simplecov should be a ruby gem that can work as a formatter for simplecov. Such a gem is unfortunately beyond the scope of what our test-reporter can include out-of-the

[2018-09-05 18:39] ale7714 opened #356 "[SOLVED] Running test-reporter in a Linux host using a VPN"
If you're running the `test-reporter` in a Linux host using a VPN and you're experiencing errors like:

[code]

We recommend that you the use the binary that uses the Net CGO library.  You can download those binaries:

* Latest:
   https://codeclimate.com/downloads/test-reporter/test-reporter-latest-netcgo-linux-amd64
* Version:
    https://codeclimate.com/downloads/test-reporter/test-reporter-VER

[2018-09-05 18:43] #356 closed

[2018-09-05 20:59] ianpaschal commented on #341
I believe I'm experiencing this issue as well.

I'm basing this off of the Travis CI set-up described here:
https://docs.codeclimate.com/docs/travis-ci-test-coverage

My `travis.yml`:

[code]

Doesn't seem to work at all; I just see the umbrella for configuring code coverage forever.

FYI the information on configuring code coverage is pretty buried. I was rather annoyed to click on the configure

[2018-09-05 21:25] davehenton commented on #341
Hey @ianpaschal, sorry about the poor surfacing of those Travis CI docs. I'll see where we can improve that experience.

To help troubleshoot your issue, do you mind writing into [Code Climate Support](https://codeclimate.com/help) with the name of the repo you're working with? I'll be standing by to look into this further.

[2018-09-05 22:12] ianpaschal commented on #341
@davehenton My opinion regarding the documentation is that if you click on set-up code coverage, you should see your token and a list of guides on how to use it. Experienced users then don't have to scroll/look down to get the token (what they came for) and inexperienced users will get straight to the info they need. Also, offering any settings to tweak the set-up when CC already knows it's not co

[2018-09-06 00:30] chidioguejiofor commented on #342
@efueger thanks a lot for helping out @2YY. It solved my own problem as well

[2018-09-06 02:50] lawonga commented on #243
What do you do if you're trying to `format-coverage` on a merged jacoco report built from many different jacoco reports?

Manually go through the report and populate the prefix/directories?

[2018-09-06 14:27] wfleming commented on #243
If you have many different jacoco reports derived from source trees in different working directories, you would need to pass appropriate flags to `format-coverage` for each specific report before merging them with `sum-coverage`. Please see our [docs on parallel/multiple test suites](https://docs.codeclimate.com/docs/configuring-test-coverage#section-parallel-and-multiple-test-suites) for more det

[2018-09-10 18:50] Maxcutex opened #357 "error uploading to codeclimate after test is run"
i get the following error from circle ci when the test is done.

`[Coveralls] Submitting to https://coveralls.io/api/v1
Coveralls encountered an exception:
RestClient::UnprocessableEntity
422 Unprocessable Entity
/usr/local/bundle/ruby/2.4.0/gems/rest-client-2.0.2/lib/restclient/abstract_response.rb:223:in `exception_with_response'
/usr/local/bundle/ruby/2.4.0/gems/rest-client-2.0.2/lib/restclient

[2018-09-10 22:36] wfleming commented on #357
This looks like a stack trace for the [coveralls.io Ruby gem](http://docs.coveralls.io/ruby-on-rails), but this repository is for the [codeclimate.com test reporter](https://docs.codeclimate.com/docs/configuring-test-coverage). Different tools for different websites. Did you file this in the right place?

[2018-09-11 08:41] Maxcutex commented on #357
i am using this sample code. found here

https://docs.codeclimate.com/docs/circle-ci-test-coverage-example

[2018-09-11 16:38] wfleming commented on #357
Can you please provide more details of how you were collecting the lcov report, where the report was located, how you were using `cc-test-reporter` to format that report before the `sum-coverage` call, in what way it wasn't working, and what error messages you were seeing?

[2018-09-11 18:17] Maxcutex commented on #357
hi ,

i havent used it on circle ci before. i just used the example in the link above. is lcov installed in circle ci by default or is there a setting i need to enable ?

[2018-09-11 20:40] Maxcutex commented on #357
Actually its is exactly the same. Which is why i asked what setup i need to get lcov running. For the test to work i removed the frontend tests part of the script and left the backend tests since it conforms with the way i want to run my test

find below the config that caused error

version: 2.0
defaults: &defaults
  working_directory: ~/myapp
  docker:
    - image: circleci/ruby:2.4.1-node-brows

[2018-09-11 22:45] wfleming commented on #357
Thank you, that config is helpful since it is not exactly the same as our examples and helps us understand how you're assembling the different test reports. What was the error you were seeing regarding the lcov report with this config?

[2018-09-12 05:52] Maxcutex commented on #357
apologies i though i had uploaded the error along side. Find attached.
![lcov_error](https://user-images.githubusercontent.com/27193978/45404819-60127600-b658-11e8-8f86-3a3995a8ec6d.JPG)

[2018-09-12 14:51] wfleming commented on #357
The error is indicating that `coverage/frontend/lcov.info` does not exist when `cc-test-reporter` runs, have you confirmed it is being created at that path?

That "Error: no test specified" message, which I think is being echoed by your `npm test` command is interesting. Do you know what's causing that? That makes me think something that your frontend tests are not actually running on CI right now

[2018-09-14 14:32] niclas-ahden commented on #226
@joshwlewis @appleton We just switched to HerokuCI and noticed the incomplete support for Code Climate. Any update on the `CI_NAME` and `GIT_COMMITTED_AT` environment variables?

Details in this issue and:
https://github.com/codeclimate/ruby-test-reporter/issues/183#issuecomment-290177267
https://github.com/codeclimate/test-reporter/pull/305

[2018-09-17 18:43] efueger opened #359 "Clover parser errors, unable to handle format of xml output"
A repo with multiple tests resulted in an error formatting its frontend results. (backend results did process fully.)

After

- `/cc-test-reporter format-coverage backend/clover.xml --input-type clover --output coverage/codeclimate.backend.json`
- `./cc-test-reporter format-coverage frontend/clover.xml --input-type clover --output coverage/codeclimate.frontend.json`

[code]

Customer sent the outp

[2018-09-18 03:08] toymachiner62 opened #361 "Error finding jacoco.xml even though it's there"
Here's some output from jenkins running a Docker file. The `jacoco.xml` is clearly there as you can seen from step 30

[code]
Is there a bug in the `jacoco` formatter or do I have a configuration incorrect?

[2018-09-18 03:15] toymachiner62 commented on #243
Is this going to get fixed or are we going to have to continue to use the hacky workaround?

[2018-09-18 03:17] toymachiner62 commented on #243
@jisikoff being a complete n00b to gradle, do I need to do anything to call this task in my gradle build?

[2018-09-18 13:03] jisikoff commented on #243
you call it like any other gradle task, the task name is "jacocoFix" so an example gradle command might be something like:

[code]

[2018-09-18 14:03] efueger commented on #359
demo of failing test here: https://github.com/codeclimate/test-reporter/pull/360

[2018-09-18 16:03] wfleming commented on #361
Well I see one suspect thing: both wally services are trying to use the same consumer group name, `wally`. This seems incorrect since they're reading different topics, and in prod the two are using different group names. Looking at changing that.

[2018-09-18 16:09] toymachiner62 commented on #361
Let me know if you need me to test out a snapshot version for you. Hoping to get this working today before my trial expires.

[2018-09-18 16:37] wfleming commented on #361
I commented on the wrong tab & hit the wrong key, that's embarrassing for me, sorry for the noise.

@toymachiner62 The help text explaining the `-p`/`--prefix` option could be clearer. That option isn't a directory to search for the coverage file (the test reporter always looks relative to the current working directory), it's a path to strip off of the filenames listed in the coverage file so they

[2018-09-18 16:43] toymachiner62 commented on #361
Docker Multi Stage Builds - maybe a little uncommon right now since it's a little bleeding edge, but more and more people are using multi stage builds https://docs.docker.com/develop/develop-images/multistage-build/

I'll try the low level commands and report back

[2018-09-18 17:06] toymachiner62 opened #362 "XML syntax error on cobertura.ser file"
Trying to report code coverage of a cobertura.ser file when running Jenkins from a multi-stage docker build and it's reporting XML syntax error. I'm no expert in cobertura or .ser files, but is this an expected error?

[code]

[2018-09-18 17:32] ale7714 commented on #362
@toymachiner62 👋 thank you for reaching and sorry that you're encountering this error. It's not expected. I suspect this could be a parsing error since under the hood the `test-reporter` is transforming the Cobertura file into the JSON format of our test reports. It's hard to guess what's exactly causing that error without knowing the content of the file `/home/gradle/project/build/cobertura/cober

[2018-09-18 17:37] toymachiner62 commented on #362
I just submitted a ticket with my cobertura.ser file.

[2018-09-18 17:39] ale7714 commented on #362
Thanks! I'm gonna close this issue and we will be following up on your ticket soon.

[2018-09-18 17:39] #362 closed

[2018-09-18 18:00] toymachiner62 commented on #361
Still didn't work using those low level commands. Any idea why it's not seeing that file when it exists right where it's looking?

[code]

[2018-09-18 19:20] wfleming commented on #361
What is the current working directory when you run `cc-test-reporter format-coverage`? The test-reporter should be run from the root of the checked out repository so it can read git data if necessary. The fact that you're providing an absolute path makes me think that's not the working directory.

What's your directory structure under the root of your repository? I suspect that file actually lives

[2018-09-18 20:20] toymachiner62 commented on #361
There is no `.git` folder b/c we are not copying that to our `Dockerfile` when we do our build (which is where we run our tests). We pass in the all the git environment variables that the cc-test-reporter needs (I had to dig into the source code to find them).

Actually from the project root it's `src/main/java/com/ciitizen/code/test/CopyConstructorTester.java`. The project root is in `/home/gradl

[2018-09-18 20:46] toymachiner62 commented on #361
Here's my docker commands it's it's respective output

[code]

[code]

[2018-09-18 20:55] toymachiner62 commented on #361
Did you mean to add the `--add-prefix` flag to the `format-coverage` command like this?

[code]

[2018-09-18 20:55] wfleming commented on #361
Then you want the current working directory when you run `cc-test-reporter` to be `/home/gradle/project`, and I believe you'd need to pass `--add-prefix src/main/java` to `format-coverage`

[2018-09-18 20:56] toymachiner62 commented on #361
How do I set the current working directory with the `format-coverage` command?

[2018-09-18 20:58] wfleming commented on #361
Since you're doing this with a `docker build`, I think a `WORKDIR` command would be the most direct way.

[2018-09-18 20:59] toymachiner62 commented on #361
I'm already doing that. `WORKDIR /home/gradle/project` is at the top of my project

[2018-09-18 21:00] toymachiner62 commented on #361
What exactly is the `--add-prefix` flag supposed to be, the dir where the report file lives or the path the the file itself? The documented help is so vague and unclear

[code]

[2018-09-18 21:06] toymachiner62 commented on #361
Here's the output when running `RUN ./cc-test-reporter format-coverage -d -t jacoco --add-prefix /home/gradle/project/build/reports/jacoco/test/jacoco.xml`

[code]

[2018-09-18 21:15] wfleming commented on #361
`--prefix` should perhaps have been called `--strip-prefix`, but for backwards compatibility reasons I think we're stuck with `--prefix` for now.

The two `--*-prefix` flags exist for cases where the file names as reported in the coverage report (`jacoco.xml`, in your case) are not relative to the project root. Commonly either because the coverage report is reporting relative to a subdirectory (yo

[2018-09-18 21:16] toymachiner62 commented on #361
Also not sure if this is a gradle specific thing, but the output file is `jacocoTestReport.xml` and not `jacoco.xml` which is what `format-coverage` seems to be looking for. Is there a way to explicitly say what file to look for?

[2018-09-18 21:17] toymachiner62 commented on #361
Giving your suggestion from #361 a go now..

[2018-09-18 21:20] wfleming commented on #361
Yes, there is. The argument to `format-coverage` is an explicit path to the coverage file. I suggested the command in https://github.com/codeclimate/test-reporter/issues/361#issuecomment-422551355 based on you referring to `jacoco.xml` earlier in this issue and the `ls` output showing the file with that name in your [initial report](https://github.com/codeclimate/test-reporter/issues/361#issue-361

[2018-09-18 22:04] wfleming commented on #361
Ok, there is a confusing piece of behavior regarding `--add-prefix` that *I* misunderstood, my apologies, @toymachiner62. My colleague @ale7714 has corrected me.

The confusing behavior is that `--add-prefix` does alter the path of the file reported to our API, which is necessary in your case, but it does *not* change where the test-reporter attempts to read the file from locally (which it does to

[2018-09-19 04:13] F21 opened #363 "Cannot upload coverage if not using GOPATH for Go projects."
I am using Go 1.11 with Go modules. When Go modules are used, it's possible to build projects outside of the GOPATH. For example, rather than placing the project inside `/pipeline/source/github.com/user/repo`, we can clone the project directly into `/pipeline/source`.

The test-reporter currently does not support this. It throws an error because it's looking for files in the `github.com/user/repo`

[2018-09-19 16:28] efueger commented on #359
Follow up for how to exclude files and directories for Jest:
- https://jestjs.io/docs/en/configuration.html#collectcoveragefrom-array

[2018-09-19 19:48] ale7714 commented on #363
@F21 `test-reporter` is parsing the content on the `c.out` file, which probably has on it the full file paths. You could use the `--prefix` flag to remove `github.com/Boostport/` and the test-reporter will be able to find the files. The invocation would look something like

`cc-test-report after-build --prefix github.com/Boostport/`

[2018-09-20 00:01] F21 commented on #363
Thanks @ale7714. `--prefix github.com/Boostport/address/` worked for me! 😄

[2018-09-20 00:01] #363 closed

[2018-09-20 01:02] kylemh opened #364 "Coverage not reporting on non-member pull requests"
Loving the integration so far, but confused as to why [this PR](https://github.com/OperationCode/front-end/pull/136) never has coverage reported.

The .com/repos/${id}/settings/test_reporter URL also doesnt seem to show his PR or test report.

https://github.com/OperationCode/front-end/blob/master/.travis.yml

[2018-09-20 16:00] dblandin commented on #364
Hi @kylemh!

Thanks for getting in touch. That's certainly strange and something that we'll have to dig into.

I recommend opening up a support ticket with our customer success team, so we can best get this prioritized: https://codeclimate.com/help/new

Thanks!

[2018-09-20 17:59] kylemh commented on #364
Emailed! Thanks.

[2018-09-20 17:59] #364 closed

[2018-09-21 20:56] efueger opened #366 "Add documentation for --add-prefix"
Need to add  reference to `--add-prefix` in the `format-coverage` documentation.

- documentation: https://github.com/codeclimate/test-reporter/blob/master/man/cc-test-reporter-format-coverage.1.md
- related PR describing use: https://github.com/codeclimate/test-reporter/pull/230

[2018-09-24 16:46] efueger commented on #362
Quick follow-up:
- the test reporter no longer looks for an `cobertura.ser` file.
- It's only expecting an `cobertura.xml` file.